[2018-11-05 05:57] rchrdnsh opened #1 "Getting an error with very first usage..."
just installed the plugin (also had to install something called gsap, so maybe something in the docs about that?) then added this link:

[code]
and I'm getting these error messages in the console along with no transition:

[code]

dunno whats going on here, but if this makes sense then please let me know if there's anything I can do to make it work...

[2018-11-05 06:00] rchrdnsh commented on #1
argh, forgot to add it to my config! Fixed!

[2018-11-05 06:00] #1 closed

[2018-11-05 06:06] rchrdnsh opened #2 "whole page is flashing, not just content..."
adding AniLink to a Gatsby V2 app and the view with the content is animating from one view to the next, but the persistent navigation is also flashing with every transition, which should not be happening...any idea why this might be the case? Also, I'm noticing that the animation only works from one of four links that it's been attached to, which seems a little bit odd as well.

[2018-11-05 17:35] TylerBarnes commented on #2
If you're using gatsby-plugin-layout, check the conflicts section at the end of the readme.
That definitely does seem odd about the four links though.
Are you able to provide a demo repo?
the example site at https://gatsby-plugin-transition-link.netlify.com/ is using 7 AniLinks at once and they're working but if I can check it out I can help for sure.

[2018-11-05 17:37] TylerBarnes commented on #1
Glad you got this sorted!
This plugin is super new so I haven't added any helpful error messages and the readme needs work but I'll be working to make everything clearer over the next couple weeks.

[2018-11-05 19:32] rchrdnsh commented on #2
I'm so new to creating repos...lemmie try and see if I can create one...totally messed it up last time...

[2018-11-05 19:53] TylerBarnes commented on #2
No worries, let me know if you need help!

[2018-11-06 05:50] TylerBarnes commented on #2
I was just working on an unrelated project but I was using TransitionLink so I checked out how to prevent the persistent nav from flashing.

First, if you're not already, you should use `gatsby-plugin-layout` to have a truly persistent nav.

Once you have it installed and configured put `gatsby-plugin-transition-link` after `gatsby-plugin-layout` in your gatsby-config. The order of the two plugins

[2018-11-06 06:09] rchrdnsh commented on #2
sweet. I just got Gatsby-plugin-layout working today so I will try and give it a go tomorrow then. Thank you again for your work :-)

[2018-11-06 21:31] rchrdnsh commented on #2
hmmm...so I set up the config so that your plugin is after the layout plugin, then I swiped the `Link`s for `AniLink`'s, but now those `AniLink`'s don't work at all. Here is my nav code:

[code]

and this is where the animation should be happening, to the children of the `<Main>` component:

[code]

and when I click on an `AniLink` in the app I get these error messages in the console:

<img width=

[2018-11-06 21:36] TylerBarnes commented on #2
Ok, I can see what's happening here. The links dont have access to the animation state because they're outside of the navigation component. I'll have a look at this tonight and see if I can get a fix out soon.

[2018-11-08 03:28] rchrdnsh commented on #2
hmmmmmm...I'm also trying to style the `AniLink` using styled components like so:

[code]

but I can't seem to be able to make it work, doing something like this:

[code]
is this sort of thing possible with the plugin?

[2018-11-11 23:49] jaydickinson opened #3 "Example Transitions / Tutorial."
Hey This is great!

Are you planning on doing a write up / tutorial on how you made some of the more complex transitions that would be super helpful, the slide and fade in ones look good but struggling to replicate?

Thanks again for making this.

[2018-11-12 00:31] TylerBarnes commented on #3
Hey @jaydickinson, thanks! Glad you like it!

Yes, I'm actually working on a documentation site with a tutorial and examples as well as a blog post for gatsbyjs.org. I do want to make it easier to understand. I think it's not very complicated but the current readme isn't very good since I wrote it quickly with almost no planning.

In the meantime you could check out how I used TransitionLink in th

[2018-11-12 08:05] Polcius opened #5 "Use with react-pose?"
What would be the way to use it with react-pose? Is it absolutely necessary to include gsap?

Btw, congrats on the plugin!

[2018-11-12 19:14] TylerBarnes commented on #5
Hey @Polcius , thanks!

Because I've added state based transitions, GSAP isn't necessary.

[I created an example for you](https://gatsby-plugin-transition-link.netlify.com/react-pose/pose-1), Click the box to see a very simple fade transition.

[Check the code](https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/master/example/src/components/Poses/ExamplePose.js) and the [state trans

[2018-11-12 19:17] TylerBarnes commented on #5
You might want to look at the [pages](https://github.com/TylerBarnes/gatsby-plugin-transition-link/tree/master/example/src/pages/react-pose) as well

[2018-11-12 19:19] #5 closed

[2018-11-13 20:52] max8hine opened #8 "set gsap as an optional dependency?"
First of all, Great Project! Thank you for making this =)

I tried to only use `react-pose` with this project but when I run `gatsby develop`, it threw errors with `gsap` not installed.

Is there a way to make `gsap` optional? Not hurry request.

[code]

[2018-11-13 20:59] TylerBarnes commented on #8
Hmm, my bad! I think I must have never tested it with gsap uninstalled. 🤣
I'll have to move AniLink to another npm package I think.
GSAP isn't actually required and you shouldn't need to install it to use TransitionLink so I'll let you know when this is fixed.
For now if you install gsap it shouldn't get included in your gatsby site as long as you dont import it or AniLink anywhere.

[2018-11-13 23:02] max8hine commented on #8
@TylerBarnes I did not import `AniLink` anywhere, the error threw in Terminal at gatsby build time. I think Gatsby checking the `gsap` when initialising plugins.

### One more issue I had today(Not sure should I creating a new ticket or not)

I tried to use the built-in transition such as `Cover` in Gatsby `StaticQuery` component, and it throws below error message in Browser Console.

*PS: The lin

[2018-11-14 00:51] max8hine commented on #8
@TylerBarnes I will do a simple repo for investigating by myself and update here about the context issue. I use a layout component on top of every component, but it applied by the gatsby-browser API. However, I will try to duplicate in a more simple
project.

For the last answer, Yes, that's what I want to know! it makes more sense then.

[2018-11-14 01:01] TylerBarnes commented on #8
Glad I could help!
Layouts have been a bit tricky because they can be added outside of the transition context depending on how they're added and then TransitionLink tries to access React context which isn't there and the error you copied here is thrown.
I added layout support directly to TransitionLink so that transitions can be triggered from layout components. [Check the end of the readme](https

[2018-11-15 04:06] #8 closed

[2018-11-15 04:09] TylerBarnes commented on #8
Hey @max8hine I've removed gsap as a dependency by not exporting default transitions from the main js file. If you're still using default transitions with the AniLink component, you'll need gsap and when you update to ^1.2.1 you'll need to change your import paths for default transitions.

Before it was `import { AniLink } from 'gatsby-plugin-transition-link'`, now it's `import AniLink from 'gatsb

[2018-11-16 04:59] TylerBarnes commented on #3
Thanks @wildpow , updated the link!
I had to move the default transitions as the original location was making gsap a mandatory dependency when it's not actually required.

[2018-11-18 20:03] max8hine commented on #8
@TylerBarnes Thank you for doing it.

For the second issue, yes, you are right, it related with `Layout` component.
Even though I didn't use `gatsby-plugin-layout`, but I used gatsby-browser API to auto wrap every child component with `Layout` component.

[2018-11-18 20:19] TylerBarnes commented on #8
That makes sense. Did you manage to get it working?

[2018-11-18 21:19] max8hine commented on #8
yes, I've solved it by do not use `gatsby-browser API`'s [wrapPageElement](https://www.gatsbyjs.org/docs/browser-apis/#wrapPageElement) method. just wrap every component in the regular HOC way.

[2018-11-21 21:50] TylerBarnes opened #11 "During development, saving a page or component causes the window to jump to the top"
I'll put out a fix for this shortly

[2018-11-22 04:30] MartinConde opened #12 "Example for partial transitions/animating various elements"
First of all thanks a lot for this plugin!:) just found it browsing on mobile so excuse me if I am overlooking something.

Could you add an example where different elements of a page get their own transitions? (Instead of the whole Page as one)

[2018-11-22 05:02] TylerBarnes commented on #12
Hey @MartinConde thanks for the interest!

You can check out the examples page at https://gatsby-plugin-transition-link.netlify.com/
Check the second from the bottom link on the home page. All the links do something different if you click around. This plugin is built specifically for the use case you're asking about and I've tried to make it as easy / powerful as possible. My intention is that I w

[2018-11-22 05:02] #12 closed

[2018-11-22 06:34] #11 closed

[2018-11-22 09:00] ivarkallejarv opened #14 "Problem running TransitionLink with Typescript"
I can't seem to use TransitionLink with Gatsby using TypeScript.
When I use the TransitionLink, AniLink or Cover modules, I get the standard behaviour where the page is not removed until the new page is rendered, which is good, but I would like to use cover and fade as well.

I tried using your example fade animation from [here](https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/mas

[2018-11-24 20:30] MrRobotjs opened #16 "Can't make use of classes"
Before I would be able to use these for Links
[code]
and now that I have replaced my `<Links>` with `<AniLink>` the classes doesn't even show up anymore and the active page class isn't appearing either which is a big problem since I rely on css quite a bit.

[2018-11-24 20:38] TylerBarnes commented on #16
Great point. I have the code open already so I'll fix this right now!

[2018-11-24 21:39] #16 closed

[2018-11-24 21:40] TylerBarnes commented on #16
Update to v1.3.3 and this is fixed :)

[2018-11-24 21:50] TylerBarnes commented on #16
Sorry, update to 1.3.4 instead. 1.3.3 broke the fade transition.

[2018-11-25 06:13] MrRobotjs commented on #16
Works perfectly fine now thanks!

[2018-11-26 09:45] ivarkallejarv commented on #14
I had 1.2.5 before I updated to 1.3.0, but it still didn't work.
I'll try to put something together soon, can't share the repo I have it in.

Did some further research and realized that the "default" behaviour I mentioned was from the Gatsby Link component.

Also, in Typescript I have to add a rule to ignore the import of Anilink, because it's different from other libraries:
Instead of ``import {A

[2018-11-26 16:56] TylerBarnes commented on #14
Ah, the problem might actually be the import then!
Before when I was exporting AniLink directly from the main export it made it so people have to install gsap even if they weren't using it. As of 1.2.2 you have to import AniLink like so `import AniLink from "gatsby-plugin-transition-link/AniLink";`

I'm considering moving it to a different package but I've left it for now. Maybe I'll have it throw

[2018-11-27 17:43] TylerBarnes commented on #14
If you don't mind I'm gonna reopen this and fix it since I want to learn typescript anyway.

I'm thinking of moving both AniLink and TransitionLink into their own packages for ease of use when development anyway. writing `import AniLink from 'gatsby-plugin-transition-link/AniLink'` is too long imo. It should just be `import AniLink from 'anilink'` or `import TransitionLink from 'transitionlink'`.

[2018-11-28 11:42] ivarkallejarv commented on #14
I don't mind, rather it would make things easier for me as well.

Yes, importing packages from subdirectories is forbidden in TS, of course depending on your settings.
What most packages do instead is import everything as modules, like this => `import {Anilink} from 'gatsby-plugin-transition-link'`.
Also, you wrote that some similar solution made people install gsap even when they didn't use it. W

[2018-11-28 18:48] TylerBarnes commented on #14
Hmm, I've never needed to use peer dependencies before so I'm not 100% sure how it works. I just read [an article](https://nodejs.org/en/blog/npm/peer-dependencies/) on it and it seems to be more about specifying which version of a package another package depends on. I'm not sure if that solves the issue or if I'm misunderstanding.
What was happening was if someone wanted to just use transition li

[2018-11-29 09:45] ivarkallejarv commented on #14
Could you write a little about how you've set up this project? I can see that you have an example folder, that you use for testing?

I don't think I'll have any time before the weekend as well, but I'll try to make a PR.

About the problem, I think it might be related to default exports and how it's set up. If AniLink was in the src folder and didn't have a default export ``export function AniLink

[2018-11-29 17:05] TylerBarnes commented on #14
Ok, that sounds good and seems to make sense, I can check that out. If you're still interested in trying it out here's my set up:
I'm using yarn/babel-cli for build scripts.
enter `yarn` from the root directory, then `yarn watch`.
In another terminal window cd into the lib folder and enter `yarn link`.
Then cd to the project you want to test it out on and enter `yarn link gatsby-plugin-transition-

[2018-11-30 13:12] ivarkallejarv commented on #14
That's a really nice way of testing things, much easier than I thought, maybe that should be added to the documentation as well, under contributing for example? Makes it easier to contribute.

I'll take a look at forking and making a proper pull request in a couple of days, but for now, I tried applying what I wrote about before and it seems to work properly now. Tried it with AniLink and it's dif

[2018-11-30 17:41] TylerBarnes commented on #14
Awesome, thanks @ivarkallejarv ! That's a great point about adding a contributing section to the readme and thanks for the reference patch! I'll do my best to get to this tomorrow morning and I'll add the readme section while I'm at it. I think it should end up being an easy fix, it's just making the time to sit down and try it out. Thanks again!

[2018-12-02 04:12] TylerBarnes commented on #14
Ok, so I spent some time today looking into this today and I wasn't able to fix it myself. I tried applying your patch but I got a bunch of errors and it didn't work. If you could make a fork of this repo and add your changes there then I could more easily check it out.
I was able to get vscode to recognize the module in the subfolder using a .d.ts file but I'm not too sure what else is needed bec

[2018-12-02 15:48] ivarkallejarv commented on #14
I took a look at it today, I got it working with my page fast, but with the Example page, it took a little bit more. But I made a [PR](https://github.com/TylerBarnes/gatsby-plugin-transition-link/pull/20). This seems to work.

If you have time, then take a look at it, and if there's anything I can improve, let me know.

[2018-12-02 19:14] TylerBarnes commented on #14
Awesome, thanks for this! I'll go through it and do some testing. It's worrying that this change requires so much to be changed for a site currently using transition link. I was hoping we could make a change that wouldn't require current sites to do so many changes the next time they upgrade. This might need to be part of a major release. I definitely want to fix this though so I'll check this out

[2018-12-03 07:15] ivarkallejarv commented on #14
Sorry about that, I cleaned up the [PR](https://github.com/TylerBarnes/gatsby-plugin-transition-link/pull/20). There aren't actually that many changes that need to be done in existing projects.

Those were mostly QoL changes and some frustrations with the Header component, that I later realized was just importing the wrong thing from gatsby-plugin-transition-link.

The biggest thing in that PR con

[2018-12-07 18:35] TylerBarnes commented on #14
Thanks @ivarkallejarv! I appreciate all the effort you put into this.
I'll add a note about this to the docs for now and I'll add it to my list of things to revisit. I'm planning a v2 with a number of improvements and I will likely rewrite the whole thing in typescript when I get to working on v2.

[2018-12-12 07:00] TylerBarnes opened #21 "When clicking a link that doesn't have a transition, scroll position isn't reset"

[2018-12-14 08:53] onion2k opened #22 "Reset updateContext timeout is too long"
I've got a TransitionLink with exitLength, entryLength, and entryDelay all set to 5s. The transition works, but the call to reset the animation lengths to 0 and add the min-height to the div is taking a little too long - 15s rather than 10s.

I've had a look through the plugin code and _I think_ I've narrowed the problem down to line #78 of [triggerTransition](https://github.com/TylerBarnes/gatsby

[2018-12-14 17:54] TylerBarnes commented on #22
Good catch! I think you're right. I'll get a fix in for this this weekend. Probably I'll check for which one is longer and use that one. Part of the reason for the calculation is to prevent people from clicking a link repeatedly during a longer transition.
Thanks for noticing!

[2018-12-18 01:52] #21 closed

[2018-12-30 10:42] TylerBarnes opened #25 "Attach transition data to location history instead of context state"
This will allow transitions to fire when using the browser back/forward buttons and will allow reversed animations when going backwards. History direction will need to be passed through to the transition status and trigger functions so that animations can be made aware if the user is clicking the back button.

[2019-01-01 18:08] vojoup opened #26 "Can't get rid of link underline"
Hello, I encoutered a weird behaviour and I'm not sure if it's something else causing it.
When I use `Anilink` like so:

[code]
I get an underline under the text and I can't get rid of it.

Can you help or just confirm that it's something wrong on my side ? 😀

Thanks in advance!

[2019-01-01 19:53] TylerBarnes commented on #26
Hey @vojoup !
I haven't seen this issue and there aren't any built in styles on the link itself so I'm inclined to think this is related to your project. It's still possible it could be a bug somehow though.
Do you have a demo repo I could check out? Also if you inspect it in your browser can you see where the underline is being applied?

[2019-01-01 20:05] vojoup commented on #26
Thanks for the fast reaction🙂!
You can check it in my [blog's repo](https://github.com/vojoup/blooog/blob/master/src/pages/index.js).
If I check it in devtools it says that the `text-decoration` is set to `none` but the underline persists.
Another weird thing is that if I set the `text-decoration` to `underline`, a second one appears.
You can check it yourself on my [blog](https://my-first-blog.ne

[2019-01-01 23:22] TylerBarnes commented on #26
Thanks for the links! The offending css is `box-shadow: 0 1px 0 0 currentColor;` on your a tag. If you remove it all the lines dissapear. :)

[2019-01-02 18:04] ar-stackrox opened #27 "Layouts and position absolute"
Hey @TylerBarnes thanks again for the awesome plugin.

I have it configured and running with the option of a persistent layout (as described in your docs) and it's working properly.

However, I'm new to this and not sure if there is any way to pass in classes to the following div. As you can see, I have a flex parent with a left navigation that takes up 1/4 width, and I need to assign a class to t

[2019-01-02 18:07] ar-stackrox commented on #27
Also, if that div wasn't there (as part of a react fragment), I could directly target `tl-wrapper` as a child of my flex parent and set its width that way

[2019-01-03 07:47] vojoup commented on #26
Thanks again for the response! It indeed was `box-shadow`, stupid me...
Thank you very much and have a nice day 🙂

[2019-01-03 19:20] TylerBarnes commented on #27
Hey, this is a little tricky because position absolute is added by react-transition-group. I believe RTG has an option to specify what the container element should be so I can add a plugin option for that (if I'm remembering correctly). I should be able to have a fix in for this fairly soon.
What do you think the most optimal solution would be? Do you want to be able to remove the div, change it t

[2019-01-03 19:33] TylerBarnes commented on #27
Haha, yeah I think if it's relative the entering page will be at the very bottom below the exiting page if they're both on the page at the same time. I'll play around a bit and see if I can add those plugin options. I think that should make it flexible enough to account for this type of issue.

[2019-01-04 17:18] aamorozov opened #28 "Cannot style AniLink component"
I'm passing the style to AniLink as `style={{...style}}` but it doesn't seem to be applied. I've tried adding it directly but it seems like it is still using the default styles. Is it not supported by design?

[2019-01-04 20:32] aamorozov commented on #28
Since the active styles are passed correctly, I think the issue is here https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/master/src/components/TransitionLink.js#L20, the activeStyle prop has been passed down to gatsby's Link component, while style prop is not.

[2019-01-04 21:11] TylerBarnes commented on #28
You're right! I've just published v1.4.5 which passes the style prop through properly.
Thanks for noticing!

[2019-01-04 21:11] #28 closed

[2019-01-04 21:13] aamorozov commented on #28
@TylerBarnes Excellent, thank you! I just forked to add a pr a second ago 😁

[2019-01-06 12:12] marianbreitmeyer opened #29 "Layout Problems"
Hey,
just started to integrate transitionLink in the Gatsby Starter to play around with it. But I can't get it to work. I always have "double layouts" in my site. I think the config part doesn't work. Any idea how to fix this or where my mistake is?

--> https://github.com/marianbreitmeyer/portfolio-site

<img width="1426" alt="bildschirmfoto 2019-01-06 um 13 11 28" src="https://user-images.github

[2019-01-06 17:45] marianbreitmeyer commented on #29
If I just ad `gatsby-plugin-transition-link` in the Gatsby config, it works fine. But I don't think that's the correct way, isn't it?

[2019-01-06 19:36] TylerBarnes commented on #29
Hey @marianbreitmeyer , thanks for using transition link!
The reason is that you're including your layout component twice. You've added it to the plugin options and you're also manually wrapping your layout around your pages.
https://github.com/marianbreitmeyer/portfolio-site/blob/master/src/pages/index.js
https://github.com/marianbreitmeyer/portfolio-site/blob/master/gatsby-config.js

If your rem

[2019-01-06 19:42] marianbreitmeyer commented on #29
Hey, thanks for the answer. Makes totally sense. But now the footer is directly under the header. So the Layout is broken.

[2019-01-06 19:44] marianbreitmeyer commented on #29
Sorry, that was an issue with position: absolute. Everything works fine now. Thanks a lot :)

[2019-01-06 19:45] TylerBarnes commented on #29
You're welcome! Open an issue any time you're having trouble. Always happy to help out.

[2019-01-06 19:55] marianbreitmeyer commented on #29
Just saw, that the div causing the trouble is the tl-wrapper which refers to the transitionLink wrapper, right? Is there a way to make this relative?

[2019-01-06 20:01] TylerBarnes commented on #29
No, this needs to be absolute for pages to overlay each other during transition. One sec, I'm going to check this out a bit more, I cloned your project.

[2019-01-06 20:17] TylerBarnes commented on #29
Ok, for now you can add your footer to pages instead of your layout and it will display properly.
A couple other people were having issues with the transition wrapper being `position: absolute;` so I'm going to find a more permanent solution. It's a bit tricky because we want the pages to be on top of each other during animation but we also want the footer to get pushed down by the page contents.

[2019-01-07 06:41] aamorozov commented on #29
I've been working this around this so far by explicitly passing `position: relative` in imgStyle prop so they appear correctly.

[2019-01-07 06:48] aamorozov opened #30 "Cannot tween a null target error with AniLink"
I've been seeing this issue on one type of the template in my gatsby project. If I reload the page it works and the error is gone. I'll debug more to see if there is anything specific to the template causing this error.

Note: The pages are working without any errors when navigating to them directly, so the issue is directly related to actual routing within TransitionLink.

[code]

<img width="815

[2019-01-07 06:53] aamorozov opened #31 "Spread additional props in TransitionLink"
I think it will be good to allow passing additional props to TransitionLink to pass down to Link component. For example, it's not possible to pass `onMouseEnter` and similar event handlers since TransitionLink is not spreading the rest of the props, although they are supported by gatsby's Link.

[2019-01-07 07:07] aamorozov commented on #31
I've added a pr for this here https://github.com/TylerBarnes/gatsby-plugin-transition-link/pull/32

[2019-01-07 15:49] aamorozov commented on #30
Looks like it's being thrown from here https://github.com/greensock/GreenSock-JS/blob/master/src/esm/TweenLite.js#L900, but not sure at the moment what is causing the issue.

[2019-01-07 17:49] TylerBarnes commented on #29
@aamorozov thanks for the feedback. This is added so that the page doesn't continually jump to the top while developing a site. I have a few plugin options I'm going to be adding that I'm working on and I'm thinking now I'll also add an option to disable the min height wrapper. Out of curiousity can you explain what kind of layout issue you were having?

[2019-01-07 17:52] aamorozov commented on #29
It was calculating the min-height correctly for some of the pages but some of them had an excessive height hence there was a white space area at the bottom of the page, below the actual content. That's been the only layout issue I've had so far. I haven't noticed the jumpiness after forcing the min-height yet

[2019-01-07 17:55] TylerBarnes commented on #29
@aamorozov thanks! since I'm going to be spending some time on this part of the plugin soon it's good to know the types of issues people have around it. I'll add an option to disable that and also see if I can reproduce that issue while I'm in there.

[2019-01-10 02:51] TylerBarnes commented on #30
I played around and I believe this is from pressing back in the browser while an animation is happening.
I think I'll add a check to see if the dom node exists before running the trigger functions and that should prevent this.

[2019-01-10 03:00] TylerBarnes opened #33 "Add option to automatically replace normal links with transitionlinks or anilinks"
This would be good for links that come in a big string of text from a cms.

[2019-01-11 02:19] TylerBarnes commented on #3
I'm still planning on doing a more in depth tutorial (I've been super busy the last little bit). In the meantime I've posted a [write up / mini tutorial at the gatsby blog](https://www.gatsbyjs.org/blog/2018-12-04-per-link-gatsby-page-transitions-with-transitionlink/) for anyone that's interested.

[2019-01-11 02:40] TylerBarnes commented on #30
@aamorozov upgrade to v1.4.7 for a fix. If you're still having issues please reopen this.

[2019-01-11 02:40] #30 closed

[2019-01-12 02:56] TylerBarnes commented on #27
hey @ar-stackrox I have a beta release out which I think solves your problems.
I've removed position absolute. I found a way to make position relative work with floats, of all things!
I also simply removed the div wrapper in transition group.
I think a plugin option isn't necessary because you can wrap a div around using a layout if you'd like.
If you have time to try it out I'd love to hear your

[2019-01-12 03:00] TylerBarnes commented on #29
hey @marianbreitmeyer and @aamorozov , I have a beta release out which should solve your problems.
Pages are no longer `position: absolute;` so a footer in your layout component will work.
This also means there's no need for the min-height page wrapper so I've removed that.
If you have time to try it out you can install with `npm i gatsby-plugin-transition-link@1.5.0-beta.1` or `yarn add gatsby-pl

[2019-01-12 16:09] rikvanderkemp commented on #16
@TylerBarnes This seems to be broken in later versions. I have downgraded to 1.3.4 and it works again.

Using GatsbyJs 2.0.76

[2019-01-12 18:46] TylerBarnes commented on #16
Hey @rikvanderkemp , thanks for letting me know. Are you using transition link or ani link when you're having the issue? It's odd that it wouldn't work since that part of the code is the same. I guess something else must be interfering with it.

[2019-01-12 19:04] TylerBarnes commented on #16
@rikvanderkemp I tested it out just now but I can't reproduce the issue. If you check at https://5c3a38f7cd86f000094ed960--transitionlink.netlify.com/ the three bottom links have all had their `to` prop changed to the page they're on to test the active class, then I've added `activeClassName="active"` and `className="test"` and both of those are showing up in the dom. I tested it out with anilink

[2019-01-13 18:11] aamorozov commented on #29
Hi @TylerBarnes ! The 1.5.0-beta.1 throws an error on `pageMinHeight`. Looks like you've removed the funciton but it's still being referenced here https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/fixing-tl-wrapper-issues/src/components/TransitionHandler.js#L12

[code]

[2019-01-13 18:53] TylerBarnes commented on #29
@aamorozov oops! Embarassing. 😂This is why I need to get some tests set up sooner than later.
Must've been a quirk of `yarn link` that it was working for me.
`1.5.0-beta.3` fixes this oversight. Thanks @aamorozov

[2019-01-13 18:54] TylerBarnes commented on #27
Looks like there was a big bug in beta.1. If you give it a try please install `1.5.0-beta.3` instead.

[2019-01-13 20:31] ar-stackrox commented on #27
So awesome! Thanks @TylerBarnes I'll give this a try soon

[2019-01-13 20:39] rikvanderkemp commented on #16
@TylerBarnes I made a similar test based on the codebase I was working on. Got the same result, however, I have cleared my node_modules folder, reinstalled the plugin. Locally that seemed to do the trick. I redeployed to Netlify but it didn't change, I suspect a caching issue at Netlify to be honest. Created a new site there and it works. So I suppose this was a false alarm. I do suspect an issue

[2019-01-13 21:05] TylerBarnes commented on #16
Ah, that makes sense. You can clear the cache at netlify if you go to deploys and click the dropdown that says "Trigger deploy" in the top right of the deploy history. In the dropdown there should be a button that says "Clear cache and deploy site".

You also might find this plugin useful in dealing with trailing slashes.
https://www.gatsbyjs.org/packages/gatsby-plugin-force-trailing-slashes/

<im

[2019-01-13 21:05] TylerBarnes commented on #16
Also, thanks for debugging, I appreciate it!

[2019-01-14 14:55] aamorozov commented on #29
Looks like the height issue is fixed in 1.5.0-beta.3 - thank you for the update! @TylerBarnes !

[2019-01-14 19:56] rikvanderkemp commented on #16
Excellent tip! Thanks!

[2019-01-15 00:23] zachgibson opened #34 "How to use with React Spring"
First off @TylerBarnes really cool lib you’ve made here! For the life of me I can’t get this to work with React Spring, I think just because I don’t know what’s really happening. Any tips? I’m looking for any simple example of how this would look?

[2019-01-15 15:30] adamsoffer commented on #8
Hey @TylerBarnes - thanks for this awesome plugin! I'm still getting an error re: the gsap dep requirement. I'm on 1.4.7. Was this fix published yet?

[2019-01-15 15:39] adamsoffer commented on #8
Ah nevermind. Was because I was using anilink which requires I install it according to the docs.

[2019-01-15 16:55] TylerBarnes commented on #8
Glad you figured it out! If you have any more problems please leave an issue :)

[2019-01-16 04:38] #34 closed

[2019-01-16 04:57] TylerBarnes commented on #34
Hey @zachgibson thanks the appreciation!

Check out the react spring folder I just added
https://github.com/TylerBarnes/gatsby-plugin-transition-link/tree/master/example/src/pages/react-spring

And a demo of it working is at https://gatsby-plugin-transition-link.netlify.com/react-spring/a/

Basically if you check out any of the react-spring demos where the state changes on click, that's a good exa

[2019-01-16 05:01] TylerBarnes commented on #34
Now that I'm thinking about it a bit more, a component could easily be created to just wrap around the Spring component and hook all of this up every time. Then you could easily place that component everywhere that you want to add a react-spring animation.

[2019-01-16 07:52] ar-stackrox commented on #27
hey @TylerBarnes I discovered a bug that was present in the current release and beta 3, so I unfortunately had to roll back to `gatsby-plugin-layout` (which is working).

I had TransitionLink replacing `gatsby-plugin-layout` in my gatsby-config file, and it was pointing to my index.js template. In my index.js file, I am using context to determine which layout to render with the kind of pages that

[2019-01-16 16:54] TylerBarnes commented on #34
Oops, I made a mistake in the code above (it's fixed now). Duration in react-spring is in ms but duration in transition link is seconds. You basically need to multiply the time from transitionlink by 1000 to hook up duration properly.

Now that I've played with this a bit I'm considering making a reusable package/component for react-spring that abstracts some of this set up.

[2019-01-17 19:48] TylerBarnes commented on #27
@ar-stackrox thanks for the detailed description! I should be able to reproduce and try it out from that. I'm super busy right now but I should have some more time to dedicate to this project a few weeks out as much as I'd like to work on it now.

[2019-01-18 06:18] ar-stackrox commented on #27
Thanks Tyler! No worries. I also spotted one more bug a while back that I am not encountering on gatsby-layout-plugin. When clicking around, my pages would no longer scroll back to the top. I resorted to doing this hacky thing in gatsby-browser but it's not ideal

![image](https://user-images.githubusercontent.com/28272783/51368811-ca737100-1aa5-11e9-8491-83d10382f1f5.png)

[2019-01-19 15:55] zachgibson commented on #34
Dude, this is awesome! Thanks for the help, and let me know if I can help with this at all. I’d be glad to.

[2019-01-26 21:16] FreeKev opened #39 "Anilink blink/flash before transition"
I'm getting [this strange blinking/flashing effect](https://youtu.be/5IGVnaUfq3I) on the whole page when I click an Anilink. Could it be an incompatible module?

[code]

[2019-01-27 03:19] FreeKev commented on #39
Thank you for the offer, but you nailed it! It was a CSS issue.

One glance at the CSS and I saw it on the body element:

`height: calc(100% + 150px); // Force page v-scroll`

Appreciate your work, and your advice in an article to customize more with TransitionLink and react-pose. I'll get there, and look forward to any tutorials. Thanks!

[2019-01-27 03:19] #39 closed

[2019-01-28 20:57] jserrao commented on #3
@TylerBarnes - outstanding work, really neat little plugin.

Something to consider for the tutorials: transitioning with nested components and `TransitionLink`. I like where you're going with gsap-driven animation - that's how I usually do things with `TimelineLite`.

But things get mighty tricks with passing state and `this`, and functional props around. I guess this is more of an advanced reques

[2019-01-28 21:39] TylerBarnes commented on #3
Hey @jserrao, thanks!
I'll add an example like that for sure. My plan is to add a tutorial on doing advanced transitions with react-pose, react-spring, and gsap.
In the meantime if you're playing around you might be able to mix [react-gsap](https://github.com/bitworking/react-gsap#readme) and the [transitionstate](https://transitionlink.tylerbarnes.ca/docs/transitionstate/) component as I believe

[2019-01-28 21:42] TylerBarnes opened #40 "Add intersection observer to transitionstate"
This should be optional but allow transitionstate to only pass animation data if the component is in view. For pages that use a lot of animations this could boost performance. [`react-intersection-observer`](https://www.npmjs.com/package/react-intersection-observer) is probably the way to go.

[2019-01-28 21:43] jserrao commented on #3
I'll check that out thanks. For me, the holy grail is being able to handle page and click transitions with unique intro/outro sequences such that you can do sequential timelines. Another idea I've had with react would be something similar to a transition context that would contain an intro and outro animation that could be provided application-wide. Current efforts feel very heavy handed but that

[2019-01-28 21:43] TylerBarnes commented on #29
closing this for now as a duplicate of #27

[2019-01-28 21:43] #29 closed

[2019-01-28 21:55] TylerBarnes commented on #3
There's currently an internal context being used for transitions so the links can pass transition data to the page wrapper. When I get to #33 it will include an option for a default transition that you can specify in `gatsby-config` for all regular links. Right now the "default" transition is just all settings set to 0. The option would allow you to change that default.

[2019-01-28 21:58] jserrao commented on #3
Interesting re: context for animations, just so much to learn. I've been in this field for 15 years and it there is always another huge thing I need to get into. Thanks.

[2019-01-28 22:13] TylerBarnes commented on #3
@jserrao if you're interested and haven't checked it out before it's the React context API. https://reactjs.org/docs/context.html

The transitionstate component is also using it.

[2019-01-28 23:20] TylerBarnes opened #41 "Add changelog"
Maybe with this? https://github.com/conventional-changelog/standard-version

[2019-01-30 06:18] TylerBarnes opened #42 "API change proposal for V2 (Backwards compatible)"
I've been thinking over the API while I work on tutorials for #3 and I came up with what I think would be useful changes. There are enough changes that I think it may warrant a v2.
For any of you reading this who are interested and have used TransitionLink, I would love to hear your thoughts on these changes and if you think there is anything else that might be helpful. All changes would be backwa

[2019-02-10 17:31] aamorozov commented on #42
I think a good addition to v2 could be to have a hook `useTransitionLink` or something that will accept `entry` and `exit` props. It should provide a simpler usage of the package and also will integrate nicely with spring's hooks. Not sure if gsap are re-writing/providing hook options but react-spring has done that already.

[2019-02-11 19:06] TylerBarnes commented on #42
@aamorozov I've been thinking about hooks support as well and I think it's definitely a good idea. I haven't used hooks much but I'm going to get up to speed with them and integrate them to v2. I don't think gsap will add hooks support since gsap isn't a react library. They're a general JS animation library and probably haven't really thought about hooks. There's likely still a way to integrate th

[2019-02-15 06:00] TylerBarnes commented on #27
v1.5.1 fixes the original issue here.

For the scroll updating I believe it may be related to mixing gatsby link with transition link since I had to disable shouldUpdateScroll as you noticed. Do you recall if you were mixing the two?

I think also for the layout issue you had it's likely due to the very minor difference between my layout implementation and `gatsby-plugin-layout`. I'm conditionally

[2019-02-16 21:21] thundernixon commented on #29
I made a huge issue report, then finally figured out this really was the fix I needed. 😄

Maybe, potentially, it would be worth adding a note at "Usage with gatsby-plugin-layout
" in https://transitionlink.tylerbarnes.ca/docs/installation/? Something simple, like:

[2019-02-16 21:46] TylerBarnes commented on #29
Glad to hear you sorted it out and thanks for the suggestion! I've added your note to the page.

[2019-02-16 21:48] thundernixon commented on #29
Amazing, thanks!

[2019-02-16 22:06] thundernixon commented on #21
Hi @TylerBarnes, is this issue related to, or distinct from https://github.com/gatsbyjs/gatsby/issues/7454?

On my demo site, I have an issue where the pagination links at the bottom of posts will lead to the bottom of other posts, rather than the top as I expect.

![link-scroll-oddity](https://user-images.githubusercontent.com/7355414/52905781-1fbdb200-320d-11e9-8fc7-faabbca9b5ba.gif)

I've also

[2019-02-16 22:32] TylerBarnes commented on #21
Hey again @thundernixon ! I cloned your repo to test it out. The reason is that you're mixing transition link and gatbsy link. [`shouldUpdateScroll`](https://www.gatsbyjs.org/docs/browser-apis/#shouldUpdateScroll) is disabled in transition link as the timing of when to scroll to the top needs to be handled by the transition. I cloned your repo and switched your gatsby link import to a transition l

[2019-02-16 22:41] TylerBarnes commented on #21
I added a note about this to the docs. Thanks for bringing it up!

[2019-02-16 22:46] TylerBarnes opened #45 "Update scroll position when mixing transitionlink and gatsby-link"
Currently this plugin has disabled Gatsby's `shouldUpdateScroll` browser API because scroll update needs to happen in time with the transition. This causes the scroll position to not update when using gatsby-link together with gatsby-plugin-transition-link. A check should be added to update scroll position when not using transition link.

[2019-02-16 23:11] thundernixon commented on #21
AMAZING, that was all it took!

Thanks for such specific directions on solving the issue. 👏

[2019-02-21 02:49] zzulanas opened #46 "AniLink cover bg doesn't work with background images"
So I'm trying to use the AniLink property with a background png as the `bg` prop, as it says in the docs, but when I use the prop like so:

[code]

if I can only use CSS that's fine but when looking at the [docs](https://transitionlink.tylerbarnes.ca/docs/anilink/), for cover, it says "This allows you to set a colour or use a background image if you'd like."

In the source it looks like you can se

[2019-02-22 23:22] TylerBarnes commented on #46
Hey @zzulanas, sorry for the delayed response!
Yes what I mean in the docs is that you can add a background image via css in that field.
Behind the scenes bg just gets added to the background css property. For example: `background: ${props.bg}`.
This way you can also add the background size and positioning since the background property is a shorthand that takes multiple parameters. https://www.w3s

[2019-02-25 23:19] zzulanas commented on #46
Awesome thanks, I couldn't get it working with the setup I had but I just ended up using a solid color vs picture. In the docs maybe have like an example of using a picture too instead of just the color?

[2019-03-01 18:11] danboyle8637 opened #47 "Still get some Link functionality?"
I have just started to use TL and it's awesome. I actually am going to use AniLink on my latest website. But I have one question.... I will test this but I wanted to ask anyway...

Can you still use some of the Link functionality like the navigate function from gatsby? or hijacking the back button?

I want to run a few animations like menu's closing and other random things before the page navigate

[2019-03-02 00:55] TylerBarnes commented on #47
You should be able to still use the navigate function but you'll have to control the page scroll position yourself.
Currently the back button doesn't work in transition link although I was working on a fix for this recently.

If you want to close a menu before navigating I would first put it in a persistent layout component. Then add a click handler either on your AniLink or on a parent component

[2019-03-02 12:41] danboyle8637 commented on #47
@TylerBarnes Thanks so much. This does make sense. I just need to start playing around with my code. I like the idea of building a custom transition. Off to study I go. Thanks again for making this!

[2019-03-02 17:52] TylerBarnes commented on #47
Awesome, glad you're enjoying it. Let me know if you need any more help.

[2019-03-02 17:52] #47 closed

[2019-03-04 03:47] tterb commented on #27
Just a note, `1.5.0-beta.3` also fixes a similar issue I encountered when using the `Parallax` scroll container from `react-spring`.
Thanks for the great work!

[2019-03-04 03:58] TylerBarnes commented on #27
@tterb interesting! The change from `1.5.0-beta` made it into the latest release recently. Do you know if `1.5.1` also fixes that issue for you?

[2019-03-04 04:11] tterb commented on #27
I just checked and the issue appears to exist in `1.5.0` and `1.5.1`, though is somehow being fixed in `1.5.0-beta.3`. I tried deleting the `.cache` directory and reinstalling the package just to be sure but the issue is still present.
Although the issue is a bit different than the one that @ar-stackrox was experiencing, where in this case, basically anything that is within the `Parallax` scroll c

[2019-03-04 04:15] TylerBarnes commented on #27
That's super weird! Is it possible for me to debug using your site? I actually never merged that beta, I ended up rewriting the code while I was making a couple other adjustments so it could be that something is just slightly different.

[2019-03-04 04:50] tterb commented on #27
@TylerBarnes Yeah, I just updated the [repo](https://github.com/tterb/gatsby-portfolio) with what I'm currently working with.
Some parts are a little bit of a mess since I've mainly just been using it to familiarize myself with Gatsby, but I'm currently only using `gatsby-plugin-transition-link` in the `src/components/Nav.jsx` for the site navbar.

Additionally, it also appears that `AniLink` usin

[2019-03-04 13:10] dbismut commented on #34
Hey @zachgibson, the lib looks fantastic but specifying the duration for `Spring` breaks the idea of a spring-based animation, doesn't it?

[2019-03-04 15:49] TylerBarnes commented on #34
@dbismut it does but unfortunately there isn't another way to control the timing of the exiting and entering pages mounting and unmounting. I've been thinking of making a little wrapper component around spring which adds a promise to each spring so that each spring has to finish before the page unmounts but that doesn't sound perfect either as pages won't be able to overlap that way.

[2019-03-04 15:52] dbismut commented on #34
@TylerBarnes Sorry I mentioned Zach in the first place, my message was meant for you (so again, fantastic lib). I hear you, I'll see if I can get something working when I have some time!

[2019-03-04 18:24] TylerBarnes commented on #34
@zachgibson @dbismut this isn't in the docs yet but I actually added a couple things that should make using react spring easier.

The above example can now be written like so as of `1.5.1`:

[code]

You can also leave off duration if you want and use the natural spring duration but you'll have to work out how long you want your page to stay before unmounting just based on how long the spring happe

[2019-03-07 15:43] LekoArts opened #48 "Documentation: Suggestions"
Hi!

Really appreciate that you built this package. I plan on using it and I'm sure it'll be great once I implemented it. Sadly I have to browse the documentation on Github because the version on the website is just horrible to put it bluntly. With that post I want to point out some things I saw and hope that it can help you improve the documentation.

- The hide/show transition animations while s

[2019-03-07 23:54] TylerBarnes commented on #48
Hey @LekoArts, thanks for the feedback!

- The idea behind the scrolling animation is to remove visual focus from text which isn't currently being read in order to remove visual noise. The animation speed is less than a second but it could be sped up a bit.
- This is a good point about the docs link. The reason it's linking to the third bullet point is so that returning users who want to reference

[2019-03-07 23:57] TylerBarnes commented on #48
I should add that my bullet points aren't to refute your criticisms or anything like that, just to explain the reason behind why I chose to do things like that when I made the docs. I'm not a practising designer and I'm open to collaboration on this for sure.

[2019-03-08 17:46] LekoArts commented on #48
Thanks for the reply!

- With having this explanation in mind I still can't understand the reasoning. If I scroll the text fades in, but when I actually read something I can see everything. The way you describe it it should be the other way around. I also can't scroll the page quickly and scan it for the headlines because all text is hidden. I'm not the only person who does that :D
- Yeah makes se

[2019-03-08 22:40] TylerBarnes commented on #48
I can definitely see what you're saying and it makes sense to me.
If you have time to make the changes that would be really awesome.

Thanks @LekoArts ! I appreciate the feedback and help

[2019-03-11 18:49] lsirivong opened #49 "Adding `onClick` to Links breaks scroll reset behavior"
Here's an example gatsby site based off of gatsby-starter-default:

https://codesandbox.io/s/github/lsirivong/gatsby-plugin-transition-link-on-click-bug/tree/master

I believe this happens because the `onClick` prop will exist in `rest` which will override the function configured by `TransitionLink`

https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/7489a0d0ede92ecb2cd1af6e60528ff5

[2019-03-11 20:00] lsirivong opened #50 "`yarn link` development environment fails to start"
Hi I'm trying to get the development environment set up so that I can try working on #49, but I'm having trouble with some missing dependencies.

I followed the steps in the readme, and I get this error when trying to start `gatsby develop` after running `yarn link gatsby-plugin-transition-link`

### `yarn develop` output from the `example` folder:

https://gist.github.com/lsirivong/0215c110951720

[2019-03-11 20:03] TylerBarnes commented on #50
Hey @lsirivong , thanks for contributing!

Recently I've had the same errors and I haven't had time to look into it much further or update the docs.
What I've been doing in the meantime is npm linking those dependencies back the other way from my gatsby project to the lib folder.

so in the lib folder I would run `npm link /Users/username/github/project-name/node_modules/react-dom` for example, an

[2019-03-11 20:05] TylerBarnes commented on #50
@jlengstorf mentioned to me that the solution is to use workspaces but I haven't had the opportunity to investigate yet.

[2019-03-11 20:44] jlengstorf commented on #50
`yarn link` has issues.

[Workspaces](https://yarnpkg.com/lang/en/docs/workspaces/) accomplish the same thing, but without requiring a bunch of goofy linking.

I create a `package.json` a level up from my two packages and use that locally:

[code]

Assuming the `name` from the `package.json` in `package-one` is also `package-one`, you do the following from the folder where that workspace `package.

[2019-03-11 21:03] TylerBarnes commented on #50
Awesome, thanks for the explanation @jlengstorf !

[2019-03-14 22:19] #49 closed

[2019-03-14 22:55] TylerBarnes commented on #41
closed via https://github.com/TylerBarnes/gatsby-plugin-transition-link/commit/47ce2b53bd3f820af1a9e3663e10f38443867ddd

[2019-03-14 22:55] #41 closed

[2019-03-14 23:29] TylerBarnes commented on #46
Finally got a sec to check this out :) Thanks for raising the issue.

I've added an example to the [docs](https://transitionlink.tylerbarnes.ca/docs/anilink/) (near the bottom)

You can see it in action on page two of the [demo site](https://gatsby-plugin-transition-link.netlify.com/page-2) (the second link on the page)

Thanks again

[2019-03-14 23:29] #46 closed

[2019-03-15 01:16] #50 closed

[2019-03-15 01:30] TylerBarnes commented on #27
@tterb thanks for the link but it looks like I can't run develop on your site because I'm missing your env vars.

[2019-03-15 02:07] TylerBarnes commented on #48
Fixed in https://github.com/TylerBarnes/TransitionLinkDocs/pull/3
Thanks for the good suggestions @LekoArts !

[2019-03-15 02:07] #48 closed

[2019-03-15 08:08] flowen opened #52 "Pressing back during a transition causes bugs"
Hi tyler, we spoke by email before.

[Here's an example](https://5c89301d48afbf00099f5196--techno-a3c803.netlify.com) of the bug. Click a link and press back while transitioning.

When you press back during a transition, the node contexts of the other page is still there is y first guess.

Suggested fix:
disable history.back() while timers are still playing

Having a hook (e.g. `cancelAnimatino` o

[2019-03-15 08:12] flowen opened #53 "[suggestion] Measure (similar) component on next page"
As we spoke by email, I thought I would just add the suggestion here.

Being able to measure components on the next page would be an awesome way for morphing animations. As the nature of the web is dynamic, unless we use fixed dimensions, most morphing transitions won't work without this.

[2019-03-15 09:49] tterb commented on #27
@TylerBarnes I'll create a `page-transitions` branch on the repo that you can use to debug the issue that doesn't require the env variables since they aren't necessary to observe the behavior.

[2019-03-15 21:23] TylerBarnes commented on #53
I love this idea. I'm thinking there might be a way to do it potentially using promises.
Since the dom node of the next page may not exist yet, passing it as a property to the exit function wouldn't work. I can pass a promise instead and once the dom node exists, that promise will resolve and return the next pages dom node.
So it could be used like so:

[code]

[2019-03-15 21:32] TylerBarnes commented on #53
Actually.. In that case maybe there should just be a new trigger function prop directly on the link which returns both nodes as promises!

[code]

[2019-03-16 19:55] TylerBarnes commented on #53
To measure a dom element on the next page, we can remove the delay on the entering page and just hide it instead. Since it will exist, we can await both nodes, then animate when we have them.

[code]

[2019-03-19 10:08] flowen commented on #53
I don't see any immediate arguments against this, so great idea!

Having both nodes is the key for morphing transitions between 2 pages.
I can only imagine that the trigger prop will become a huge block of code for very custom animations, but perhaps that's part of it.

[2019-03-19 12:12] jacekk opened #56 "Unable to get property 'scrollTop' of undefined or null reference"
OS: **Win 10**
Browser: **IE 11**

![image](https://user-images.githubusercontent.com/1695878/54604988-6ee34680-4a48-11e9-85f1-19f47d1fde12.png)

[2019-03-19 18:18] TylerBarnes opened #58 "Some AniLink swipe animations create a double scrollbar"
I didn't notice this before as I was using a magic mouse. Some recent change must've caused this for mouses that force showing a scrollbar.

<img width="592" alt="Screen Shot 2019-03-19 at 11 12 23 AM" src="https://user-images.githubusercontent.com/14190743/54631214-c1b50200-4a38-11e9-89a9-a2ffb3a2ff6c.png">

[2019-03-25 03:35] TylerBarnes commented on #56
fixed in #57
Thanks!

[2019-03-25 03:35] #56 closed

[2019-03-25 03:58] TylerBarnes commented on #56
released in `v1.6.1`

[2019-03-25 05:21] #52 closed

[2019-03-25 05:23] TylerBarnes commented on #52
Upgrade to `v1.7.0` for a fix!
Apologies for the late response to this.

[2019-03-25 18:56] hmbrg opened #60 "Provide hook for TransitionState"
I think it would make sense to provide a React Hook that makes the Transition state accessible.

[2019-03-26 07:02] TylerBarnes commented on #53
upgrade to `v1.9.0` for the new trigger prop!!

As mentioned before, this prop takes a function that receives a pages argument containing promises for both the entering and exiting pages. Once the promise resolves it contains all the exit/entry settings (delay, duration, etc) as well as the dom node for each page.

This is the current API:
[code]

I think to go along with this, entry needs a new s

[2019-03-26 07:08] TylerBarnes commented on #53
Oops! Upgrade to `v1.9.1` so that the new trigger function doesn't break old TransitionLinks! 😂

[2019-03-26 07:10] TylerBarnes commented on #60
I agree! This should be pretty easy. I had this as a plan for v2 in #42 but I've been implementing alot of those features one by one in v1 so I'll add this to my todo list!

[2019-03-26 07:13] TylerBarnes commented on #53
On second thought it might just be easier to make rendering the next page immediately but hidden a default when using the delay setting.. I'll have to do some playing around to see.

[2019-03-27 04:23] TylerBarnes commented on #53
Hmm, I think this needs some more work actually.
The functionality is there but I'll need to do more testing / tweaking to get the DX right.

[2019-03-27 04:34] TylerBarnes commented on #53
If you have time to try it out it would be awesome to get your feedback.

[code]

[2019-03-27 16:06] hmbrg opened #64 "How to use with CSSTransition"
When using CSSTransition to replicate the `cover`-Transition from AniLink, the `TransitionPortal` seems to remount on page change. This abruptly stops the CSS transition.

My Layout component gets wrapped by this:
[code]

`TransitionEffect` is a component using CSSTransition and works outside the `TransitionPortal`. The component looks something like this:
[code]

What am I missing, why does the P

[2019-03-28 00:44] TylerBarnes commented on #64
That's odd! Which version are you on and do you have a demo repo I could debug with?
I can't say why that would happen off the top of my head.

One thing I do notice is that you're just checking if the status is `exiting`. I would recommend checking for `exiting` and `exited`. There's also an undocumented render prop `mount` to check for either which was added recently.

[code]

That might not be

[2019-03-28 01:56] TylerBarnes opened #65 "Update docs"
New props on TransitionLink:
- trigger
  - await pages.exit
  - await pages.entry
  - await entry.visible
- entry.appearAfter

New render props on TransitionState
- mount

[2019-03-28 02:17] TylerBarnes opened #66 "AniLink Swipe up and down are glitchy"
Looks like some change to the way TransitionLink works has caused vertical swipe animations to be glitchy. Probably an easy fix!

[2019-03-28 02:46] #60 closed

[2019-03-28 02:56] TylerBarnes commented on #60
Upgrade to `v1.10.0` for `useTransitionState` hook.

This ended up being far easier than expected!

Use like:

[code]

note: React.memo isn't absolutely necessary but in my tests this component was rendering extra times.

[2019-03-28 02:57] TylerBarnes commented on #60
React is amazing. Check out how easy this was...

[code]

[2019-03-28 03:00] TylerBarnes opened #68 "TransitionState timing"
TransitionState should take a timing prop allowing it to be delayed or shortened by a percentage.

for example:

[code]

[2019-03-28 03:01] TylerBarnes opened #69 "Change "length" to "duration" wherever it's used"
Wherever length is used, it should become duration and then length should be aliased to duration since "length" usually isn't referring to time in JS.

[2019-03-28 03:04] TylerBarnes commented on #42
Ok, so making this a V2 doesn't really make sense since none of the changes are breaking changes! That would violate semver. I've already finished most of these changes and they should be available in the latest version (even if they're not yet in the docs).

The two remaining pieces from this issue are now in #68 and #69

Check #65 for how to use the new useTransitionState hook. I decided a useTr

[2019-03-28 03:04] #42 closed

[2019-03-28 04:22] TylerBarnes commented on #27
@tterb thanks for the demo repo. Your issue was unrelated. It's because your parallax component is measuring the entering page on mount and making all your parallax elements position absolute based on that measurement. When using the swipe and paintDrip animations the entering page is being animated and your parallax component seems to measure the entering page as having a height of 0px for some r

[2019-03-28 04:23] TylerBarnes commented on #27
By the way @tterb your site looks awesome! I love how the cover animation looks with your design. Really great stuff!!

[2019-03-28 04:30] TylerBarnes commented on #25
I gave this a shot but it was extremely buggy. I think this will be more effort than it's worth.

[2019-03-28 04:30] #25 closed

[2019-03-28 04:32] TylerBarnes opened #70 "move example site to it's own repo"
It's related but a different codebase. It should be on it's own.

[2019-03-28 05:28] TylerBarnes commented on #53
Ok, had a chance to check this out again tonight with fresh eyes.

I think it's good actually. I went one step better and made you an AniLink with morphing capabilities!

Check https://gatsby-plugin-transition-link.netlify.com/morph/ and click the red square.

Upgrade to the latest TL and do this:

[code]

If it doesn't fit your needs you can check the code at https://github.com/TylerBarnes/gatsby

[2019-03-28 05:28] #53 closed

[2019-03-28 21:10] TylerBarnes opened #71 "Add prop for disabling jump to top"
For the new anilink morph animation, scroll jumping ruins the effect. The dev should be able to control scroll timing.

[2019-03-28 21:11] TylerBarnes commented on #71
#53

[2019-03-29 04:11] dodikuswono opened #72 "Add passing state & replace history option like in Gatsby Link & navigate function ?"
In Gatsby Link & navigate function there's options to:

- Pass state values that will be available in location.state in the target page’s props
- replace the current URL in history

TransitionLink & AniLink currently not these options.

[2019-03-31 23:50] MartinConde commented on #65
Just wanted to leave a quick comment for whenever you get to updating the docs.

Was playing around with the morphing and first of all thank you so much was hoping for this for a long time ;)

Once you get the time for the docs etc, it would be great to have a more "real world" morphing example. I was trying to morph images in a data grid coming from contentful. Basically from the page that shows

[2019-04-01 01:14] tterb commented on #27
@TylerBarnes Thanks for helping me troubleshoot the issue! I'll try out the latest release and experiment with your suggestions and see if I can figure out why the parallax component is setting `height: 0px` on the page.

[2019-04-01 15:39] TylerBarnes commented on #65
Thanks @MartinConde ! Yes, I'll have to create a real world example. I think the morph animation needs a little more work as well. I need to add a TL api to control when the page jumps to the top (or if it does at all) and convert the animation to a FLIP animation with position fixed instead of what it's currently doing.

Thanks for the reminder!

[2019-04-02 15:18] Shriken commented on #72
Any work around for this? its killing me here

[2019-04-02 18:03] TylerBarnes commented on #72
Hey @Shriken apologies on the late response! I put this away in my mind as a todo but never actually put it on a real list.
I'll get this fixed this week.

[2019-04-02 18:12] ITSjwags commented on #72
This is great. I've been struggling with the same thing here.

[2019-04-03 03:04] #72 closed

[2019-04-03 03:10] TylerBarnes commented on #72
Hey guys, this is fixed in `v1.12.2`!

[2019-04-03 07:16] Shriken commented on #72
@TylerBarnes you are amazing. I really appreciate your work so many many thanks and good karma for life! ^_^

[2019-04-04 02:23] aemonm opened #74 "Support For Multi-Layouts or Excluding Pages From Layout"
I have an app that is making use of the `layout` plugin option in `gatsby-config.js`. As far as I can tell this wraps all pages in the layout component specified in the plugin.

I have one page in my app that I do not want to have the layout applied. To get around this I have some logic in my layout file like so:

[code]

However, this results in transition links only working for the pages who get

[2019-04-04 03:35] TylerBarnes commented on #74
That's odd, it should still work. If you have a demo repo I can debug!

[2019-04-04 13:15] JonJamesDesign opened #75 "Cannot used fixed position elements with AniLink"
Because the `tl-wrapper` element has a `transform` property set on it during animation, any `position: fixed` elements as a child of the `tl-wrapper` component will not fix themselves relative to the window, but to the transformed `tl-wrapper` element instead.

From the [W3C spec](https://www.w3.org/TR/css-transforms-1/#transform-rendering):

My site (like many others) has a fixed header atop my t

[2019-04-04 15:25] TylerBarnes commented on #75
Have you tried using a persistent layout component? (check the bottom of this page https://transitionlink.tylerbarnes.ca/docs/installation/)

I'm not sure your proposed fix would be feasible though I could investigate some kind of solution if you have a reason that a layout doesn't solve this.

Actually, there's also a portal component that should put your element outside of the `.tl-wrapper`.
htt

[2019-04-09 21:19] TylerBarnes commented on #75
Let me know if you have any other issues or questions!

[2019-04-11 04:51] ITSjwags commented on #45
Any ideas on how to resolve this?

Every link I have stays at the same scroll point from the previous page. I'm never getting to the top of the page on any route/page change. Do you think that is related to this issue?

[2019-04-11 16:53] TylerBarnes commented on #45
Hey @ITSjwags yes, for now the solution is to not mix gatsby-link and transition-link. You can use a TL as if it were a normal link with no animation and it should solve the issue.

I'm looking at spending a good chunk of time fixing and closing issues on this repo this weekend, so likely this will be solved soon. Let me know if you need any more help in the meantime

[2019-04-20 21:09] ITSjwags commented on #45
Hmm, I've removed all gatsby link references and switched to use all AniLink and I'm still not getting to the top of the page on any changes from page to page.

[2019-04-21 09:51] MathiasKandelborg opened #76 "Scroll position"
Is it by design that scroll position is reset to the top whenever a route change happens via this packages link? To me, it looks like it's breaking the flow gained by the animations, the jump to the top is quite extreme.

Also, clicking on a link routing to the URL one is currently on triggers a scroll to the top.

Oh well, I couldn't find anything about this particular question. There's some conv

[2019-04-21 19:36] mckelveygreg opened #77 "Usage with position: sticky"
Hey,
Is there a best practice way to use `position: sticky` elements while using this plugin? I've found that since everything is wrapped in `tl-edges` with `overflow-x: hidden`, that any sticky elements inside of that don't stick...
I feel stuck because I need both page transitions and complex scroll animations for my client..

Thanks!

[2019-04-21 22:25] TylerBarnes commented on #45
That's weird, it should work. If you can provide a demo repo or invite me to a private repo I can debug.

[2019-04-21 22:55] TylerBarnes commented on #76
THanks for the compliment!
Yes this is by design so that the entering page always starts at the top.
My personal flow for working with this is to set the exiting page to overflow hidden and then change the scroll top of the exiting page to whatever the scroll position was.

I've been thinking of adding a new feature which allows you to control the scrolling yourself.

I'm thinking something like:

[2019-04-21 23:06] TylerBarnes commented on #76
Hmm, actually maybe this would be better as a plugin setting in `gatsby-config.js`.
I could probably offer both scrolling strategies, either the current way where the body scrolls, or the alternative where each individual page scrolls on their own. I think I like that.

[2019-04-21 23:12] TylerBarnes commented on #77
I haven't tried this myself but if you can get me access to a demo repo I might be able to help you get it working.

[2019-04-22 00:16] ITSjwags commented on #45
I invited you to the private repo I'm developing. If it's too big and hard to debug I'll try to pull some stuff out and make a small demo repo.

[2019-04-24 03:48] TylerBarnes commented on #45
@ITSjwags the reason is that your page is scrolling in a child element instead of scrolling the html/body elements.

You can test this by typing `window.scrollTo(0,0)` in the browser console, the page doesn't scroll.
I found in `layout.js` that the issue for some of the pages it that you're scrolling the `<Content />` element by giving it `height: 100vh;` `overflow: hidden;`. If you remove those l

[2019-04-24 03:53] TylerBarnes commented on #45
Over in #76 we were discussing a new scrolling API though I haven't 100% thought of what the best way forward is. Maybe it would be good to also add an option for which element to scroll? It would be good to hear any thoughts you may have at #76

[2019-04-24 03:54] TylerBarnes commented on #45
By the way your site is looking awesome!

[2019-04-24 04:01] #45 closed

[2019-04-24 04:06] ITSjwags commented on #45
Duuuude. Thank you so much! I had some leftover scroll stuff from when I was trying to make scroll-snap work on the site. Didn't even realize it was causing this issue and you found it so fast. haha You're the man!

Also, the site is coming along nicely - thanks to this dope plugin! Much appreciated. I'm still cleaning up some performance smells and optimizing everything along the way. I'll add it

[2019-04-24 04:07] TylerBarnes commented on #45
Awesome!! Definitely need more sites in the README! Stoked to see it when it's finished.

[2019-04-24 04:07] TylerBarnes commented on #45
PS, you can mix gatsby-link and transitionlink/anilink now.

[2019-04-24 05:04] TylerBarnes commented on #66
Hmm, looks like it's more difficult to get these animations working than I thought. It's doable but doesn't feel worth it since I've never liked the swipe animations very much and they've been buggy for a while. I'm going to partially deprecate the swipe animation by removing it from the documentation. If there's anyone that wants to keep using it or wants to spend the time to make a PR making the

[2019-04-24 05:04] #66 closed

[2019-04-24 05:05] TylerBarnes commented on #58
This animation will be partially deprecated / removed from the documentation soon.
Check #66 for more info

[2019-04-24 05:05] #58 closed

[2019-04-24 05:08] TylerBarnes commented on #64
Hey @hmbrg, closing this out as stale. if you still need help please reopen this issue or open another issue and provide a repro for me to see the problem.

[2019-04-24 05:08] #64 closed

[2019-04-24 05:56] TylerBarnes commented on #40
Started by adding a HOC at https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/master/src/components/TransitionObserver.js

Need to test this in a real world example

[2019-04-25 01:42] dtmle opened #79 "TransitionLink Length and Routing"
I have the following TransitionLink, which routes to a page with a similar TransitionLink.
[code]

My TransitionLink on the other page:
[code]

I am running into an issue where if you click the link, then attempt to click another link very quickly, no routing happens. I am assuming this is because of the length property (0.4), which must be complete before routing again.

I have a fade animation w

[2019-04-25 01:51] TylerBarnes commented on #79
Yes, the reason you can't click another link before the animation is finished is for that exact reason. Sometimes the app will be in an inconsistent state and the animation will be applied to the wrong page if an animation can be started in the middle of another animation by clicking links quickly.

The length is the length of time that the animation for an individual page goes for. The timing can

[2019-04-25 02:36] dtmle commented on #79
Thank you for your reply.
I initially lined up my animation length with the transition link lengths, which did not resolve this problem. Lowering the length of the link while keeping the same animation length resolved the issue, as well as adding a delay into entry.

I am also not using TransitionStatus, as I ran into other issues, such as my animation firing it's exit when I go back a page.

I wi

[2019-04-25 02:38] TylerBarnes commented on #79
Interesting! Potentially the route locking timing is off then. It would be helpful if I could check that out using your repo, otherwise I can try to reproduce on my own.

[2019-04-25 04:57] ITSjwags commented on #77
Also running in to this issue.

[2019-04-25 05:08] TylerBarnes commented on #77
Hmmm, I guess I'll need to find another way to control the overlapping pages. The reason for adding `overflow-x: hidden` is that in order to allow for persistent footers, the entering and exiting pages need to be `position: relative`. In order to allow them to overlap, for the time they're in the browser at the same time, they're both floated left and the second page has `margin-left: -100%`. Prev

[2019-04-25 05:22] ITSjwags commented on #77
So the issue only exists during the transition?

Can we add and remove a class that has the overflow styling? So during the transition `tl-edges tl-edges--overflow`, when the transition is done we can remove the `tl-edges--overflow`? Something like that?

[2019-04-25 05:28] TylerBarnes commented on #77
I think all those sticky elements would unstick for the duration of the transition. You could try it out by adding some global css to override the overflow. If I remember right one of the tl elements in that area get a `in-transition`class (or similar, I'm afk right now so I can't check)

[2019-04-25 05:34] ITSjwags commented on #77
Yeah that could get janky. Everything would unstick while transitioning, then stick back when it's done. I'll try to think of a solution with ya.

For now, I can reset the overflow for `tl-edges` on the one page that I have with a sticky element and it works fine with the AniLink cover transition. Short term solution for my specific scenario.

[2019-04-26 12:21] joebentaylor opened #80 "Blink / Flash / Reload After clicking (AniLink)"
Hi, so real simple issue you.

Regardless of what Anilink transition i use, when clicking a link the transition plays, but its like at the end of the transition the content reloads / page reloads, it gives a flash / blink effect and i have no clue as to why or how to fix it.

Test it out here:
[Click here](https://mortgagesremortgages.netlify.com)

Im not duplicating the layout either.

[2019-04-26 17:58] TylerBarnes commented on #80
I've seen this before, it was because font files were being reloaded on every page load. If you open the network tab of chrome dev tools and look at the requests tab you'll see your font files get reloaded after navigating. I'm not really sure why this happens but I'm guessing you're using emotion or styled-components and adding your fonts with `injectGlobal()`. Last time I "solved" this I just mo

[2019-04-29 15:56] joebentaylor commented on #80
Hmm this is very interesting. Im not sure what to do in this case. Im using styled components, youre correct!

So what are you suggesting to do? Put these in a standard .css file and import them into the layout files root? @TylerBarnes

[2019-04-29 16:13] TylerBarnes commented on #80
Yes, exactly, if you put your font imports into a .css file it should fix the issue.
I have a feeling this is because in a normal gatsby site the props on pages typically don't change after the page loads - so they don't re-render. In our case, the page props change as the transition goes through different statuses. I think it might actually be a bug in the styled components plugin or Gatsby poten

[2019-04-29 20:40] joebentaylor commented on #80
Ill give this a go soon and let you know the outcome 👍

[2019-05-01 18:00] EricSSartorius opened #82 "accessing the location prop when using with gatsby layout plugin"
I have a Gatsby site that uses gatsby-plugin-layout that I would like to add transitions to. I followed the instructions in the docs to get rid of the plugin and in its place use:
[code]

However, after doing this I no longer have access to the location prop that was being passed through before. in V2 to get `location` from a page it needs to be passed as a prop from a page but doing that would ca

[2019-05-03 15:29] #80 closed

[2019-05-03 15:34] joebentaylor opened #83 "No transition on links with #ExampleID"
Page transition only works if you dont use an # in your URL.

For example:

Going from `example.site` to `example.site/page` is totally fine when you click an AniLink button.

However if you wish to visit a point in the next page like so, the transition doesnt work.
`example.site` to `example.site/page#sectionTwo` Why cant we do this?

[2019-05-04 13:32] andy-hook commented on #14
Hey @TylerBarnes, thank you for creating and maintaining this package, I wondered if you had any more thoughts on creating a typescript version?

[2019-05-06 10:26] NikkiGom opened #84 "Initial page content remains displayed as cover slides out of view, only vanishing after the transition is completed"
Hello! I'm trying to use AniLink (the cover option) in my project, but keep getting this funny bug.

The problem is that the initial page remains for a split second, even as the cover slides out of view. It overlaps the newly active page for a split second before vanishing. I think that the initial page content remains until the whole transition is complete. I'm not sure why this is happening.. ho

[2019-05-06 10:54] NikkiGom commented on #84
Woops, sorry I closed this issue by accident! Just re-opened it

[2019-05-08 19:44] pcooney10 opened #85 "Cmd + Click (Mac) and Ctrl + Click (Windows) to open a new tab"
Hey, cool library !

With `gatsby-link`, cmd + click opens a link in a new tab. This same behavior does not seem to be present in `gatsby-plugin-transition-link`.

Is it possible for us to still enable this behavior without breaking the inner workings of the library?

[2019-05-08 20:44] andrwrbnsn commented on #84
I'm encountering a similar issue using anime.js to animate the transition, when I click a `<TransitionLink>` element back to the homepage it appears to mount the components on the page multiple times but also doesn't update the state on other elements properly.

[2019-05-10 12:10] Badyl1g commented on #82
I have a similar issue but instead of using `gatsby-plugin-layout` I implemented a custom `wrapPageElement`. Now I can't access `transitionProps` from `<TransitionState />` component (which is used in my `<Layout />`)

[2019-05-10 21:55] joebentaylor opened #87 "Doesnt play nicely with React-Reveal"
Hey, me again!

I finally got this working properly after the last issue i posted with your help @TylerBarnes with the fonts...

However im trying to include React-Reveal inside of my project, but its causing a very similar issue, When i navigate to another page the content doesnt show and then flashes in.

Now ive checked the React-reveal git for this problem and nobody has mentioned it and nobod

[2019-05-11 22:41] TylerBarnes commented on #87
Hey @joebentaylor this is likely related to this issue https://github.com/TylerBarnes/gatsby-plugin-transition-link/issues/77 if react-reveal is using position fixed. If that issue doesn't help you, if you can provide a demo repo I can debug and give you a hand.

[2019-05-11 22:59] #85 closed

[2019-05-11 23:11] TylerBarnes commented on #85
Thanks again @pcooney10 , upgrade to gatsby-plugin-transition-link@1.12.4 to use your contribution!

[2019-05-11 23:23] TylerBarnes opened #88 "State isn't updated properly and components are being remounted using TransitionLink"
"I'm encountering a similar issue using anime.js to animate the transition, when I click a `<TransitionLink>` element back to the homepage it appears to mount the components on the page multiple times but also doesn't update the state on other elements properly."

- @andrwrbnsn

@andrwrbnsn, are you able to provide a demo repo for me to check out? I think that's the only way I'll be able to debug

[2019-05-11 23:23] TylerBarnes commented on #84
@NikkiGom that's super weird. I haven't seen that before. I'll have to reproduce locally to debug. Do you know if there's a way to download a codesandbox and run it locally?

@andrwrbnsn that sounds like a different issue. Lets move discussion to #88

[2019-05-11 23:24] TylerBarnes commented on #14
Hey @andy-hook I've been so incredibly busy with life and work stuff that rewriting this package in typescript probably isn't realistic (even if I would like to). I'm open to PR's adding type defs though if you know how to do it!

[2019-05-12 09:14] andrwrbnsn commented on #88
Hey @TylerBarnes thanks for responding — I believe this relates to my issue here: [Component not animating with react...](https://stackoverflow.com/questions/56050030/components-not-animating-with-react-transition-group-just-updates-instantly)

Turns out using a styled.div from emotion as a Wrapper doesn't co-operate well with animations.

[2019-05-12 17:10] joebentaylor commented on #87
Im going to try this now. Its not just with react reveal either, I've found using react-slick the page that the slider is on waits a second before content loads in. Will try recreating this for you to debug

[2019-05-12 17:12] joebentaylor commented on #87
From the docs, it doesnt seem like react-reveal uses position fixed

[2019-05-14 13:32] joebentaylor opened #89 "Back functionality broken"
Hey! After clicking through to a page from a link, if i press the native back buttons. the page flashes clear and stays like that with no content inside. I think ive seen this problem before listed on here, but couldnt find it.

[2019-05-14 13:35] joebentaylor commented on #89
This only happens on Mobile

[2019-05-14 16:12] TylerBarnes commented on #89
There was another issue that was opened recently that made me think the timing of when it prevents the back button from being pressed is off slightly. Are you able to provide a repo I can use to debug?

[2019-05-14 20:25] CrispyBacon1999 opened #90 "Gatsby - Hot update was not successful"
### Environment Information

- __gatsby__: ^2.4.0
-__@uifabric/fluent-theme__: ^0.16.7
-__gatsby-plugin-transition-link__: ^1.12.4
- __Chrome__: 74.0.3729.131

### Please provide a reproduction of the bug in a codepen:

Running in gatsby. This is where the issue is coming from.
I am using Fabric UI for styling.
[code]

#### Actual behavior:

On page load, getting an error.
[code]

#### Expected be

[2019-05-15 13:21] CrispyBacon1999 commented on #90
Appears to be an issue on the fabric side with functionality with gatsby.

[2019-05-15 13:21] #90 closed

[2019-05-16 18:56] antonisierakowski opened #91 "Deploying on gh-pages breaks AniLink"
While working on my project I realized that despite working fine in develop mode, as well as on gatsby serve, the transitions implemented with AniLink component don't work at all when deployed on gh-pages. I thought that it's probably me who messed something up in my project, but after creating a new gatsby project with default starter, and then replacing the default Link components with AniLinks,

[2019-05-17 14:57] aamorozov opened #92 "Link with query param breaks the mount of the next page from v1.6"
I've update the plugin on one of the old projects and it seems like there was a breaking change between 1.6 and 1.7 versions that broke the mounting of the next page for the transition links. Seems like the issue persists from 1.7 till the latest(tested all major releases). Can't provide an exact code to reproduce as it is a private project but will try to put a demo repo this weekend.

[2019-05-17 20:04] lacson17 commented on #84
Can confirm, I am also experiencing the same issues that @NikkiGom is facing. Content overlaps while the Cover transition is in progress, and clears as soon as the transition is over. Has anyone found a solution for this?

[2019-05-17 20:30] TylerBarnes commented on #84
Maybe trying an older version of TL might make it work until I have time to fix the issue. I've been wanting to work on this but I've been crazy busy

[2019-05-17 21:01] omattman opened #93 "AniLink no animation for nav menu items"
Hello, I've implemented AniLink animation across all of my site and as the last thing I had to implement in for links inside the main navigation. However, the animations aren't being triggered.

This is used within a Gatsby v2 project for clarification.

This is the AniLink component:
[code]

And this is my nav menu items:
[code]

Is there some certain edge case, which I haven't thought of?

[2019-05-17 22:05] TylerBarnes commented on #93
Are you using a layout component for the main navigation? If so are you using the built in layout option or `gatsby-plugin-layout`?

[2019-05-19 19:39] dumblole commented on #84
Same here as well

[2019-05-20 09:43] dumblole commented on #84
Found the source for https://github.com/opeah/peintagone the peintagone website and it uses the 1.12.2 version which still doesn't work for me. So I'm wondering if it has to do with something else.

[2019-05-25 14:11] Webstudions commented on #91
I'm experiencing a similar issue. While running gatsby develop, AniLink animations are working.
On gatsby build or gatsby serve, animations don't seem to be working.

[2019-05-25 15:30] xurxe commented on #84
I just started using AniLink today (version 1.12.4) and I have the exact same issue!

[2019-05-25 16:23] xurxe commented on #84
Went through and tested older releases; 1.9.1 --> no issue. 1.9.2 --> issue. So sticking with 1.9.1. for now :)

[2019-05-28 00:22] TylerBarnes commented on #84
Thanks for testing them out @xurxe ! Glad you found a version that's working for you.
I've still been too busy to fix this but my plan is to get to it this week.

[2019-05-29 10:17] deioo commented on #77
The problem with resetting the `tl-edges` overflow manually is that transitions like `AniLink` are not working anymore.

If using `position: fixed` instead of sticky, the matrix transforms render it useless.

@ITSjwags were you able to make the cover transition play well with `position: sticky`?

[2019-05-30 02:34] ITSjwags commented on #77
My scenario was very specific to only one page of my site. So I kind of threw a hack in to stop the overflow for that page. The cover Anilink transition still worked fine for me.

`.hasStickyElement .tl-edges { overflow: unset; }` something like that.

[2019-05-30 08:53] deioo commented on #77
Tried exactly the same, but lost all cover animations.

Here's an example with both `position: sticky` and `position: fixed`
[Example](http://needless-tramp.surge.sh) - see second page.

[Repo](https://github.com/deioo/gatsby-transition-with-sticky)

I made `position:fixed` work by clearing the matrix transform after it's finished
https://github.com/deioo/gatsby-transition-with-sticky/blob/master/

[2019-05-30 16:09] TylerBarnes commented on #77
I think the best way forward on this one is to add a plugin option for wether or not persistent footer support is required. If it's not needed, then the pages can be position absolute overtop of each other, if it's needed then the pages can use the css they're using now.
I'll have a look at it soon. I've been super busy but it's on my list to come back to this project and fix as many bugs / issues

[2019-06-02 09:02] andy-hook opened #94 "First and last entries in browser history don't set POP as transition"
Hello,

The first and last entries in browser history when cycling with back/forward don't set POP as the transition state, they instead set entering -> entered. All entries in between set correctly.

I think it's related to `transitionIdHistory` and line 19 in returnTranstionState.js 0`var historyWithoutLast = transitionIdHistory.slice(0, -1);` but I don't know the ins and outs of the code to deb

[2019-06-02 21:37] JavierPiedra opened #95 "Can we change the tl-wrapper height (100vh) on entered? [Anilink - Swipe]"
I'm using anilink to navigate to a component with less than 100vh of height.
Anilink tl-wrapper class is creating a gap between my component and the footer because of the height:100vh on change using the swipe transition type.

[2019-06-02 22:02] JavierPiedra commented on #95
Solved it using exit='exit'

[2019-06-02 22:02] #95 closed

[2019-06-03 09:10] trickydisco78 opened #96 "Delay in content changing between transitions"
There seems to be a delay in content changing between pages which looks a bit rubbish

Example here:
https://lucid-dijkstra-d9d36c.netlify.com/

Wondering why this might be?

[2019-06-03 09:27] trickydisco78 commented on #84
I have this exact same issue. Page content stays from the previous page until the page transition has happened

https://lucid-dijkstra-d9d36c.netlify.com

[2019-06-03 09:48] trickydisco78 commented on #96
Closing as logged elsewhere: https://github.com/TylerBarnes/gatsby-plugin-transition-link/issues/84

[2019-06-03 09:48] #96 closed

[2019-06-07 18:42] kevsimpson opened #98 "Refs not forwarded to TransitionLink"
Is there a reason that `forwardRef` hasn't been implemented on the TransitionLink component?
https://reactjs.org/docs/react-api.html#reactforwardref

From what I can see, it's been implemented in both the Reach & Gatsby `Link` components

[2019-06-07 18:44] TylerBarnes commented on #98
@kevsimpson good question! No, there's no reason it hasn't been implemented. Would you be interested in making a PR?

[2019-06-10 23:05] Seavenly commented on #88
I'm facing what I think may be a similar issue. It appears that adding a `TransitionLink` anywhere within a page component causes the page to render twice as many times. The page component looks to be remounting causing animations to jerk and replay when being controlled by `react-spring`. I have links in both my global navigation (which appear to work fine) and within the body of my pages (which

[2019-06-16 07:44] lkhphuc commented on #83
Have the same issue there. Any update on this one?
Did you find a workaround for this yourself @joebentaylor ?

[2019-06-19 04:13] JPrisk commented on #89
+1 i've noticed this issue as well, super strange. Can't seem to find an fault in the css being applied

[2019-06-19 04:18] JPrisk commented on #77
Found that implementing t-link broke my css sticky elements, was able to re-implement by making the first element inside the tl-wrapper my 'scrolling' div. Using height:100vh and overflow:auto. Problem was that IE support for sticky positioned elements is hairy, therefore jumped at the react-sticky package

[2019-06-19 22:12] reilnuud commented on #88
Have either of you tried this: https://transitionlink.tylerbarnes.ca/docs/installation/#usage-with-gatsby-plugin-layout

It worked for me!

[2019-06-19 22:56] JPrisk commented on #89
I thought that there was some issue with the handling of elements when the user navigated back using the native functionality. Turns out because I was using the transationStatus as a className to manage animations when the user clicked back and 'POP' is the default status rather than 'entered' by css was not being triggered. Simple fix

[2019-06-20 11:59] joebentaylor opened #100 "Images not loading until transition finished"
For some reason image do not load straight away and flash on.

See recording:
http://www.yourfilelink.com/get.php?fid=2053672

Since adding AniLink in the transitions feel quite janky

[2019-06-26 15:46] kasia-basia commented on #91
Hey, did anyone figure it out? I'm having the same problem with AniLink when running gatsby build.

[2019-06-29 23:51] littlecastrum commented on #77
Have anyone sort this issue in a way that does not affect the transitions smoothness? Tried @deioo solution for the `position: fixed` scenario and the transitions look choppy.

[2019-07-05 11:30] angelod1as commented on #30
I'm having the same problem.

When I link from my main page to a second page, which generates a list of posts from my markdown, the transition works perfectly. When I click on one of those links to the post in question (generated from the markdown itself), the transition doesn't happen and the site breaks.

When I use Gatsby's Link, it goes right.

I tested this on development and public build.

Y

[2019-07-06 14:22] Anahkiasen commented on #84
Having the same issue on 1.12

[2019-07-07 18:45] Simon-Tang commented on #89
Could we add a section in the documentation for possible values of `transitionStatus`? I think there are probably plenty of sites that would be checking for `"entered"` and not handling the `"POP"` case. (In fact, I suspect https://transitionlink.tylerbarnes.ca/docs/transitionlink/ has this issue, too).

Perhaps we could have a built-in option to handle [`onpopstate`](https://developer.mozilla.org

[2019-07-09 10:33] Polcius commented on #3
@TylerBarnes is there any example out there on how to use it with react-spring? Especially with the hooks API. Thanks!

[2019-07-09 21:07] FlorianMoser opened #102 "Disable routing lock when clicking an active link"
The routing is locked when clicking on a transition link. This behavior is explained in #79. But the locking shouldn't happen, when the user accidentally clicks on a link that is already active. Because now nothing (visually) happens and all navigation items are locked, which is a usability issue.

To reproduce:
1. Visit [https://transitionlink.tylerbarnes.ca/docs/](https://transitionlink.tylerbar

[2019-07-11 11:28] vincezun opened #106 "activeClass / activeClassName is broken"
Tested with Link from gatsby and It is working.

[2019-07-18 02:12] pridyok opened #111 "Adding layout option removes access to TransitionStatus"
In implementing this plugin I was having performance issues due to the entire page being re-rendered 11 times. I tried implementing the layout option in `gatsby-config.js` and now I no longer have access to the TransitionStatus via the TransitionState.

It is worth noting that I am implementing the TransitionState context directly rather than via a Context Consumer:

[code]

[2019-07-18 02:28] #111 closed

[2019-07-18 13:48] slashncode commented on #84
The issue can be fixed by re-adding the deleted line from commit [9d69a8e](https://github.com/TylerBarnes/gatsby-plugin-transition-link/commit/9d69a8e13557c5c0459ef7c05452da0287c0f128)
but may introduce you to the bug @TylerBarnes fixed
(which I couldn't replicate locally, it seems that the next commit [6654337](https://github.com/TylerBarnes/gatsby-plugin-transition-link/commit/6654337bc43a1466b5

[2019-07-24 12:19] amcc opened #112 "AniLink cover bg image css "cover" property unreliable behaviour"
I've made a component to create AniLinks key code below:

`<AniLink
      cover
      bg="
      url(/swipe.png)
      center / cover   /* position / size */
      no-repeat        /* repeat */
      fixed            /* attachment */
      padding-box      /* origin */
      content-box      /* clip */
      #1e1e1e            /* color */
      "
      direction="up"
      to={to}
      activeStyl

[2019-07-24 15:21] scotdle opened #113 "AniLink not working with react-bootstrap"
I was using gatsby-transition-link like this:

`import React from 'react';
import { graphql, StaticQuery } from 'gatsby';
import './navstyles.scss';
import "bootstrap/dist/css/bootstrap.min.css"
import Navbar from 'react-bootstrap/Navbar'
import Nav from 'react-bootstrap/Nav'
import NavDropdown from 'react-bootstrap/NavDropdown'
import AniLink from "gatsby-plugin-transition-link/AniLink";

export

[2019-07-25 14:23] peraltatomas commented on #8
Hey @TylerBarnes! Thanks for this awesome plugin.

I'm using the `AniLink` inside my Layout component, which wraps all pages using the `gatsby-browser API`. When clicking a link I'm getting the following error:

**TypeError: updateContext is not a function**

I see that you mentioned you added support for transitions being triggered from the Layout component, but it doesn't seems to be working to

[2019-07-25 20:04] amcc commented on #112
I've found that removing the "fixed" property prevents unusual behaviour on ios - I'm not sure if this is beneficial for other cases, but for a vertically scrolling cover image it doesn't seem to be needed

[2019-07-25 22:53] TylerBarnes commented on #8
Hey @peraltatomas this is actually the reason I've implemented the built in layout. If you really need to use your own layout you'll need to look at how the built in layout component is implemented in the plugin. You need to import a React context provider from the plugin and wrap it around your layout. After you do that, the order of this plugin + `gatsby-plugin-layout` makes a difference, so you

[2019-07-25 22:56] TylerBarnes commented on #8
Alternatively I'd love to hear any thoughts on how we could make using the built in layout component work for your use case. Maybe we could expose some props? You can also change the css position of the built in layout using some global css.

[2019-07-29 17:49] Giulico opened #114 "How to programmatically change page?"
Hi,
I wanter if there is a way to programmatically change the page calling an API such as `navigate(...)` with all the `<TransitionLink ... >` properties.

I'm working on a project with some webgl in it, and sometimes I don't have a real DOM where to append a link.

Thank you.

[2019-07-29 19:21] TylerBarnes commented on #114
Hey @Giulico , sounds really interesting! I'd love to see what you're working on.

If you check the function `triggerTransition()` I believe it will work for you. If I remember correctly this is undocumented but it you look at the `<TransitionLink />` component you should be able to see how it's working https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/32aafd2cc413f4f1e6307bbda41c2

[2019-07-29 19:23] TylerBarnes commented on #114
Oh, it also requires access to the context state, so you'll need to pass that to the function as well (`...context`)

[2019-07-29 20:05] Giulico commented on #114
Thank you @TylerBarnes I made it work with the `triggerTransition(...)` func! 👍

[2019-07-29 20:06] #114 closed

[2019-07-29 20:06] TylerBarnes commented on #114
Good to hear!

[2019-07-30 02:40] ochinski opened #115 "Module missing a declaration - AniLink"
Not sure what the issue is- I have a fairly bare bones gatsby ecommerce starter kit set up. I tried to use the AniLink transition to add some spice but I get this error whenever I try and import the model after installing transition link and gsap.

[code]

the import line:

`import AniLink from 'gatsby-plugin-transition-link/AniLink';`

Usage:

`<AniLink paintDrip to="/allProducts"><button class="

[2019-07-30 19:17] TylerBarnes commented on #115
@ochinski are you using typescript? that looks like a typescript error.
Check this comment -> https://github.com/TylerBarnes/gatsby-plugin-transition-link/issues/14#issuecomment-445147164

[2019-07-30 23:21] ochinski commented on #115
@TylerBarnes  There's on typescript being used in my site at all which is strange.

[2019-07-30 23:38] ochinski commented on #115
The issue was solved by just running `gatsby develop` once again. Strange..

[2019-07-30 23:38] #115 closed

[2019-08-04 19:20] vinicius98s opened #118 "React does not recognize the `partiallyActive` prop on a DOM element."
Hello everyone,
I'm using the AniLink to my pages transitions and on console I'm getting this error:

[code]

Is it safe to ignore? There is some way to remove this message from my console?

[2019-08-05 15:13] TylerBarnes commented on #118
Hey @vinicius98s , glad to hear you're using the project!
That looks like a styled components or emotionjs error actually.
Essentially the prop "partiallyActive" is being passed through to the DOM element. React is warning that this isn't a valid DOM attribute. Are you creating a styled TransitionLink or AniLink?

[2019-08-05 15:14] TylerBarnes commented on #118
I may need to handle this in this plugin now that I'm thinking about it a bit more. Can you copy paste the JSX from where you're adding AniLink?

[2019-08-05 22:38] vinicius98s commented on #118
Sure! I'm using a component wrapping the AniLink because of some default props that I wanted to use:

[code]

[2019-08-08 02:37] jonathanprozzi commented on #77
Hello! I was doing some troubleshooting with react-waypoint, and there seems to be a similar issue. I was debugging for awhile before realizing that the scrollableAncestor that react-waypoint uses gets set to the `tl-edges` div.

I'm going to do a bit more digging but I wanted to post this since it does seem to be related.

[2019-08-13 03:36] dlimx commented on #76
@TylerBarnes any update on this? Accepting PRs to this/#71?

[2019-08-13 03:51] TylerBarnes commented on #76
@dlimx no updates yet. I'm definitely accepting PR's!

[2019-08-13 20:31] angelod1as opened #119 "AniLink compiling with warning"
When importing AniLink the compiler throws a warning. When I remove ```import AniLink from 'gatsby-plugin-transition-link/AniLink';``` the warning goes away. The message:

[code]

**Steps to reproduce:**

```yarn add gatsby-plugin-transition-link gsap``` then add ```import AniLink from 'gatsby-plugin-transition-link/AniLink';``` in your component.

**What should happen:**

The compiler should thro

[2019-08-13 20:37] angelod1as commented on #119
my bad, I forgot to reference it in `gatsby-config`

[2019-08-13 20:37] #119 closed

[2019-08-13 20:37] TylerBarnes commented on #119
No worries! Let me know if you run into any other issues. Happy to help if I can

[2019-08-14 14:17] bbeemster opened #120 "Double render content"
Hi,

I'm trying to add a custom page transition. Somehow tho when I click on the TransitionLink and quickly after click on a link it shows double content.

![gatsby-transition-link](https://user-images.githubusercontent.com/9848675/63028121-7c451580-beae-11e9-8fd5-3040068a23f3.gif)

This is the code I'm using:
[code]

Any ideas what's going wrong?

[2019-08-14 19:32] TylerBarnes commented on #120
@bbeemster the plugin is supposed to lock navigation during a transition. Probably what's happening is your header link is in a layout (correct me if I'm wrong), so it's outside of the React context of the page with the second link you're clicking, which means clicking the layout link isn't locking navigation for the page link (different context), then when you click the page link it's navigating

[2019-08-14 19:33] TylerBarnes commented on #120
The other possibility is that the second link you click isn't a transition link or anilink, so the navigation also isn't locked for it. That's another possibility.

[2019-08-15 02:30] blimpmason commented on #76
@TylerBarnes I'm seeing this jump to the top on exit even with the AniLink fade links shown on the example site:  https://gatsby-plugin-transition-link.netlify.com/ (try scrolling down a little and then clicking the "Fade to page 2" link.

It seems the holdPosition CSS passed to GSAP is not preventing the scroll jump. I'm having the same issue in one of my projects and the only solution is to set

[2019-08-15 02:34] TylerBarnes commented on #76
@blimpmason I think I'm going to have to put out a v2 with breaking changes and rethink how the pages are handled. Any help is appreciated! Wether that's PR's or even suggestions / ideas. It's a ton of work maintaining this plugin + my other plugins & working full time.

[2019-08-15 02:36] TylerBarnes commented on #76
I think when I changed the animation strategy from using absolute positioned pages to how it is now, it broke some of these animations as well without me realizing. Does anyone have ideas on how to add test for animations?

[2019-08-15 03:55] blimpmason commented on #76
@TylerBarnes thanks for the response, and your work is really appreciated!

I lack the relevant experience to contribute at the moment but I'll ping you if I come up with any ideas as I dig deeper.

[2019-08-21 14:04] smbt commented on #93
Facing similar problems. Is it recommended to only go with `gatsby-plugin-layout` to have the animations working properly?

[2019-08-21 17:45] TylerBarnes commented on #93
@smbt , no `gatsby-plugin-layout` would potentially stop transitions from working anywhere. This will be fixed in this plugin

[2019-08-22 06:43] matt-koevort commented on #77
@TylerBarnes is this the sole reason for the overflow? If so, can one not investigate simply disabling the scroll bars?
For example: https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll

[2019-08-22 08:27] bbeemster commented on #120
Hi there, thanks for your quick response and sorry for my late one :) You are right about the top link being inside the layout.

[2019-08-23 20:58] notbrian opened #121 "Does this plugin work with gatsby-plugin-layout?"
I have a navbar component that persists on every page through my layout. I was using regular gatsby links before and then when I tried to switch them over to AniLinks I started getting this error when my page renders

`Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.
`

Any help appreciated!

[2019-08-23 21:26] TylerBarnes commented on #121
@notbrian it looks like you might be importing AniLink the wrong way.
Try this:
[code]
https://transitionlink.tylerbarnes.ca/docs/anilink/

If it doesn't fix it, can you copy/paste how you're importing it?

You should also use the built in layout option instead of `gatsby-plugin-layout` but there appears to be a bug currently where AniLink isn't always working in layouts, which I will be fixing so

[2019-09-03 21:41] sangeet commented on #84
Donwgrading to older version fixed the issue. I hope this gets fixed soon. Makes using cover downright ugly in many cases.

[2019-09-04 11:31] joebentaylor1995 commented on #89
Sorry for such a late reply, I'm not sure if I'm still getting the same error anymore... Ill test and share the Repo if i am, can you message me directly @TylerBarnes

[2019-09-04 18:39] aprather51 opened #125 "useSpring"
Following example from #34, using `{ spring }` ...

[code]

It was success, Now I am achieving for `useSpring` https://www.react-spring.io/docs/hooks/basics, hook with `TransitionState` Any examples you could share of using hook?  My recent try...

[code]
It didn't make sense to me on how I did it. I end up getting an error...
[code]
It's clear that, I should have separate component rather than do

[2019-09-04 18:49] TylerBarnes commented on #125
Hey @aprather51 , there is a `useTransitionState` hook actually! It hasn't made it's way to the docs yet but you should be able to import it like `import { useTransitionState } from 'gatsby-plugin-transition-link/hooks'`. It should return the same arguments as `TransitionState`.

Another thing that isn't in the docs yet is that you should be able to get `mount` directly from transition state. Ther

[2019-09-04 20:39] aprather51 commented on #125
Awesome, it worked now! is there a hook for `TransitionLink` too?

[2019-09-04 20:39] #125 closed

[2019-09-04 20:54] TylerBarnes commented on #125
@aprather51 there isn't yet as I'm not sure what one would look like. Do you have any ideas?

[2019-09-04 21:45] aprather51 commented on #125
The way I see as of now, I don't think it need hook. `TransitionLink`. its more of wrapping/nesting component than state. if I come up with Idea, I certainly will share it with you.

Great job with TL and Thank you for helping.

[2019-09-05 02:50] aprather51 opened #126 "Pause transition timeline for two seconds?"
The the timeline goal:
(clicking on page 2) &rarr; Animate Entry &rarr; Animate duration (1.5s) &rarr; Animate exit &rarr;  [ pause for 2s with `setTimeout()` ] &rarr; (entering page 2) &rarr; Animate Entry &rarr; Animate duration. 1.5s &rarr; Animate Exit.

I making progress, But having issue:
(clicking on page 2) &rarr; Animate Entry &rarr; Animate duration (1.5s) &rarr; Animate exit &rarr;  [ p

[2019-09-05 02:57] TylerBarnes commented on #126
Hey again,
Your exiting page has a duration of 2 seconds and your entering page is delayed by 700ms which means your entering page will be animating during the 2 second exit animation.

If you want your exiting page to have a 1.5sec animation and your entering page to delay for 2 seconds try this:
[code]

If you mean that you want your exiting page to delay for 2s after your exiting page is finish

[2019-09-05 10:17] jaller94 opened #127 "Remove unused dependency cross-env"
https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/8ceabb9d02542543f1b0c4f27cddc23e8d609f0c/package.json#L41

The GitHub search says, that it's not used:
https://github.com/TylerBarnes/gatsby-plugin-transition-link/search?q=cross-env&unscoped_q=cross-env

[2019-09-05 14:48] GuilhemBarboux opened #128 "TransitionState in layout"
Hi, i try to use TransitionState in my layout component, but props returned are undefined. Do you no an issue for that ?
Ty

[2019-09-05 14:49] stushurik opened #129 "Transition is broken when use path with query parameters"
In my project I need to use AniLink with query params. I experience performance degradation (junk frames and transition does not work smooth with visible deffects) when `to` prop contains query params.

When  link is  used with path without params everything is ok
[code]
But this one cause problems
[code]

[2019-09-05 14:53] aamorozov commented on #129
Looks like the similar issue I've been having with newer versions of this plugin - ref https://github.com/TylerBarnes/gatsby-plugin-transition-link/issues/92
@stushurik

[2019-09-05 14:55] stushurik commented on #129
@aamorozov have you solved your issue?

[2019-09-05 14:55] aamorozov commented on #129
I'm using it for a relatively old project so I just locked it to 1.6

[2019-09-05 14:58] stushurik commented on #129
Yes I downgraded to 1.6 and it works fine now

[2019-09-05 16:22] TylerBarnes commented on #129
Thanks guys, it's helpful for me to know 1.6 is fine when I'm debugging. I'll have a look at this

[2019-09-05 16:23] TylerBarnes commented on #92
Hey @aamorozov sorry for the late response! I believe this was due to changing the CSS for how the pages overlap. I was intending to support footers in layout files and it seemed like it didn't break anything but it turns out it did! I'll be releasing a fix for this in V2 which I'm working on now.

[2019-09-05 16:26] TylerBarnes commented on #128
Hi @GuilhemBarboux this currently isn't possible but will be possible in V2 which I'm working on now. The reason it isn't currently possible is that the layout is outside of pages and TransitionState gets it's state from the page it's on. In V2 I'll be passing the state of both pages to TransitionState when it's outside of a page

[2019-09-05 16:26] aamorozov commented on #92
Awesome, thank you! @TylerBarnes

[2019-09-05 16:28] TylerBarnes commented on #127
Thanks for flagging this. I believe this was in my old build/npm-release script. I'll remove it

[2019-09-05 18:55] barbgegrasse opened #130 "Anylink not working with variables ?"
Hi everyone,
[code]

Am i missing something here ? The first analink doesnt display animation, and the second one yes.
When i inspect code, i have the same thing, same href, same hex attribute., nothing in the console.
Is this a bug or is this me ?
Thank you for your help

[2019-09-05 19:35] TylerBarnes commented on #130
Hey @barbgegrasse can you share your repo so I can have a look?
For the first link does the page exist? Try adding a forward slash to the to prop ```to={`/recettes/${categorie.slug}`}``` and make sure `${categorie.slug}` isn't undefined.

[2019-09-05 19:42] barbgegrasse commented on #130
Hi, thank you here the repo
yes, links exist, and work in both case, there is just no animation when there is a variable
https://github.com/barbgegrasse/ramen-contentful @TylerBarnes

[2019-09-05 19:44] barbgegrasse commented on #130
hahahaha that was just the forward slash.... thank you for your help

[2019-09-05 19:44] #130 closed

[2019-09-05 20:04] TylerBarnes commented on #130
Ha, just one of those things! I wonder if there's ever a case where you would add a link without a starting forward slash? Might be a good issue to bring up to Gatsby.
Let me know if you run into any other problems!

[2019-09-06 07:06] Jaki117 commented on #76
Any updates on this?

[2019-09-06 18:38] TylerBarnes commented on #76
@Jaki117 yep! I've been working on a V2. Nothing to beta test or show yet as I have limited time to work on this project, but I'll let you know when there's something to try

[2019-09-07 10:38] gmossong commented on #89
@TylerBarnes @joebentaylor1995 I've added [a repo](https://github.com/gmossong/transition-link-demo) which demonstrates this issue. I also set it up [on Netlify](https://thirsty-liskov-726f68.netlify.com). To reproduce, load up the Netlify site then click through each page in the top menu; **About, Projects** and **Contact**. Then once you have made it to Contact hit your browsers back button.

No

[2019-09-08 21:54] aprather51 commented on #126
Hello again,

When I set entry delay of 3.5, Nav menu disappears! See here...

![page-transition-nav-disappear](https://user-images.githubusercontent.com/10257247/64494553-1309b580-d254-11e9-9057-c953c6925fa8.gif)

I couldn't figure out why but had to keep `delay` at same value number as `length`. so nav won't disappear... Why is that?

I realize I did a poor job in writing, my explanation wasn't

[2019-09-08 21:54] #126 closed

[2019-09-08 22:33] TylerBarnes commented on #126
Animations across multiple pages with multiple elements are complex by nature, so you'll usually have to do a lot of tweaking to get it to work exactly as you want. This is actually why I usually use GSAP with TransitionLink, it's a lot easier to control many different elements from one place that way, rather than lining everything up perfectly in different places.

One big problem is that with sp

[2019-09-09 00:05] aprather51 commented on #126
I agree! As matter of fact, GSAP was my first try but I end up using react-spring. I ll go back into GSAP. Any example using  GSAP with Transition-Link?

I will look into it.

Thank you.

[2019-09-11 01:47] sangeet commented on #76
Hi, I have a AniLink which points to "/#contact", but it isn't really scrolling down to the contact section of the page when scrolling down. Is this issue in any way related to me using `AniLink` and it disabling `shouldUpdateScroll` ?

[2019-09-11 01:56] sangeet commented on #76
Yeah, did a bit of testing. Removed all the AniLink from my shared Navbar and changed them to Link and now my hashed link i.e `/#contact` is working just fine again.

I believe this is a bug which is being caused by AniLink but I could be wrong about this. Can you please confirm this behavior because I am unsure whether to open a new issue about this or not. For all we know, it could be something

[2019-09-16 16:01] refractalize opened #131 "breaks hot reload of markdown pages"
Hi,

This plugin seems to break hot reload on markdown generated pages. I'm not sure what's so special about markdown pages but I can demonstrate this behaviour with the gatsby starter blog:

[code]

Then edit the file `gatsby-config.js` to include `gatsby-plugin-transition-link`.

Load your web browser to http://localhost:8000/new-beginnings/, and edit the file `content/blog/new-beginnings/index.

[2019-09-20 00:03] yuuta1999 commented on #14
Hey @TylerBarnes, I don't know if this post was a good place for me to share my solution at this time. I'd been in this situation for 2 days before I figured the way to overcome. And I know that there are someone out there like me, very love your plugin but still struggle with intergrating into Typescript.

[2019-09-20 00:21] TylerBarnes commented on #14
@yuuta1999 I haven't had a lot of time to work on this package for the past 6 or so months but it's looking like I may have some more time for it coming up. Adding a fix for using it in TS is definitely near the top of my list. In the meantime, if you know how to add type defs or some simple configuration file to this project I'm open to a PR for this.

[2019-09-24 17:17] iDVB opened #132 "Any way to set an animation for when a page is FIRST loaded?"
Would be great if there was a way to set an animation for when a page is FIRST loaded versus a page transition between local pages.  Like giving the homepage two transitions:
FIRST LOAD vs PAGE TRANSITIONED TO.

Is there a way to do this?

[2019-09-25 01:32] TylerBarnes commented on #132
Hey @iDVB , it's definitely do-able as things are now though the implementation details will vary based on your setup.
In transition link, every animation depends on the props added to the link component. Since an initial load isn't related to a link, there isn't a way to add support for this.
What you can do though is use either `componentDidMount()` or `useEffect({}, [])` to perform an animation

[2019-09-25 01:32] #132 closed

[2019-09-25 01:33] TylerBarnes commented on #132
Also, in CDM or useEffect, you'll want to check if the page is transitioning before running your page load animation, so that it doesn't fire when transitioning.

[2019-09-25 03:16] iDVB commented on #132
Thanks. I figured as much. Just curious how you might know the different
between first load and page transition.

D

On Tue, Sep 24, 2019 at 9:33 PM Tyler Barnes <notifications@github.com>
wrote:

[2019-09-25 16:44] TylerBarnes commented on #132
@iDVB the transition status is available as props on the page. You should be able to use an if statement based on which transition status the page is in. The prop you're looking for would be "current" as that one gives you info about the current pages transition state.

[2019-09-26 09:12] ajayns opened #133 "Setup initial transition"
As per docs, I understand that the plugin triggers on Link click but I'd like to have an initial transition on page load. Is that possible using the plugin since it's not triggered by any button click but on pageload or a timeout maybe?

[2019-09-27 00:51] patrickbjohnson opened #134 "Doesn't work with Sanity Gatsby setup"
I'd add more but honestly, installing and including in `gatsby-config` is enough to break the build locally.

Seems like it looks for `react-dom`. After installing that, it fails due to not finding `@reach/router`. Then after that it errors at ` No PostCSS Config`.

[2019-09-27 01:29] TylerBarnes commented on #134
Sounds like there might be something else going on with your project. Those packages are required by Gatsby so they should be available. Are you able to share your repo so I can take a look?

[2019-09-27 04:03] patrickbjohnson commented on #134
I can in the morning!

Patrick Johnson
Front-End Developer
407.460.4813
@patrickbjohnson ( https://twitter.com/patrickbjohnson )
www.pbj.me ( http://www.pbj.me/ )

On Thu, Sep 26 2019 at 9:29 PM, < notifications@github.com > wrote:

[2019-09-27 09:33] flowen commented on #133
I was just wondering the same thing :)

[2019-09-27 14:49] patrickbjohnson commented on #134
@tyleratbare adding you now as a collaborator.

[2019-09-27 22:02] TylerBarnes commented on #134
Hey @patrickbjohnson I pulled down your project, installed the dependencies, and ran `gatsby develop`. I think there are general problems with the project you should fix before trying to install transition link. It's not yet installed but I'm getting a bunch of errors about missing packages.

Closing this issue as it appears at least some of the problems you're experiencing are occurring before tr

[2019-09-27 22:30] TylerBarnes commented on #134
Actually, let's keep this open until we're sure it works with the Sanity plugin.

[2019-09-28 01:38] TylerBarnes commented on #133
My initial thought was that this is outside the scope of this package, but I could see it being annoying if you have a component that's using the transition status and then you need to make it support a status from two different places if you were to handle it yourself. So with that in mind I'm thinking this could be added to the transition-state component.
Perhaps with an api where you can pass t

[2019-09-28 06:54] ajayns commented on #133
Considering the exact intention the package was built for, I'd agree that it's outside the scope. But this feature could turn out extremely useful for users. I'm considering the case a user is already using this package for transitions between pages and it is a common pattern for such webpages to have an initial entry transition as well. And as of now, I don't think there's an easy straightforward

[2019-09-28 13:19] flowen commented on #133
I think this would be a great optional enhancement, as @ajayns points out, there's no other solution for this kind of event. Initial loading animations could be very similar on deeper pages (I often see the homepage with a different loading animation), so for these pages it's kind of unnecessary to write similar code twice.

I'm not familiar with the react-pose code beneath, but I like the intialE

[2019-09-30 06:12] TylerBarnes commented on #133
Thanks for your input @ajayns and @flowen. I agree with you guys, this seems like a really useful feature for those cases.

[2019-10-02 12:27] flowen opened #136 "markdown relative links"
I use markdown on https://principlesofwealth.net/ and they also contain links.

Obviously they don't initiate animations.

I have no experience with remark, but my guess is that with remark we could replace internal links with <transitionLink /> components. I use `gatsby-remark-external-links` to transform external links and I was hoping to clone this and see if I could easily implement a solution

[2019-10-02 14:28] muuvmuuv commented on #120
In my case it renders the host and child page multiple times which causes a lag in my layout header component.

Here is a video: https://imgur.com/a/H2fKIh9

[2019-10-02 16:09] TylerBarnes commented on #120
@muuvmuuv I believe that's a separate issue. The reason is that this package is adding the transition status to the page props. In retrospect this wasn't such a good decision since it causes unnecessary rerenders as the status updates throughout the transition. In v2 it will no longer do this by default.  If you'd like it sooner I can add a plugin option to disable it.

[2019-10-02 16:12] TylerBarnes commented on #136
@flowen thanks for the suggestion. I was actually planning on implementing rhoda as a feature of the main plugin. I was thinking a plugin option that can set a default transition for regular links.  This problem also applies to html text from cms's

[2019-10-02 21:00] muuvmuuv commented on #120
Ah ok. When are you gonna release v2? I‘m updating my portfolio and want to releasee before the new year. But no hurry. It is not something I really need for the refactoring

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-02 22:52] TylerBarnes commented on #120
No timeline yet for v2. I haven't had much time to work on this plugin the last 8ish months since I was working full time at an agency and then working on my WordPress plugin in my free time since it was more personally urgent than this plugin. I joined the Gatsby core team this week though which should generally mean I'll have a bit more time to work on this plugin than I've had lately.

[2019-10-03 02:23] yuuta1999 opened #137 "How can I disable style.css from this plugin?"
First of all, this plugin is awesome. It saved me tons of time compare to [react-transition-group](https://github.com/reactjs/react-transition-group). But I have a problem about default style that this plugin added.  So before I used, my footer looked like this.
![Screenshot (24)](https://user-images.githubusercontent.com/30456893/66094171-ea6d9680-e547-11e9-98d2-4ba9cf17dedc.png)

And after I use

[2019-10-03 16:32] TylerBarnes commented on #136
Another option could be a wrapper component like <TransitionLinkCatcher> that uses the same API as transition-link but applies the transition to any anchor links that are children of the component.

[code]

[2019-10-03 16:40] TylerBarnes commented on #137
Apparently theme shadowing works for plugins too. So you could override that CSS file using shadowing. Otherwise you should be able to add `.tl-wrapper .tl-edges { overflow-x: unset; }` to your CSS

[2019-10-03 16:41] TylerBarnes commented on #137
Also, thanks for the compliment. I'm glad you're finding this plugin useful!

[2019-10-03 20:37] flowen commented on #136
hmm, not so sure about this approach. I'm not sure what the pro's are, but I think there could be cases which require spending extra time knowing where links will and could be placed (though I think these would usually be outliers)

[2019-10-03 22:06] TylerBarnes commented on #136
The pros are that you can still have different transition links on different pages, and the solution will support different sources of links within content which I think will make it more maintainable.

[2019-10-05 23:26] geoffdgeorge opened #138 "Page refresh with each link clicked"
I'm trying to work with AniLinks and the TransitionPortal to create a fixed navbar separate from the animation of the rest of my page, but each link clicked seems to refresh the page and re-lazy load my images as the rest of the page is animated. Is there a way to prevent this reload effect and keep the link animation?

Here's what the behavior looks like:
![Link_Flash_Sample](https://user-images.

[2019-10-06 18:14] flowen commented on #136
I've been thinking about this but I can't really come up with a better reason to not do it.

[2019-10-06 20:53] patrickbjohnson commented on #134
@TylerBarnes Hey. Can you run me thru the steps you took to get those errors? I tried to recreate your the missing packages but couldn't.

[2019-10-07 16:46] TylerBarnes commented on #138
Hey @geoffdgeorge , you should use a persistent layout for anything you want to persist across pages instead of transition-portal. The portal is good for if you need to render an animation element outside of the markup of the entering or exiting page. For example in anilink, the cover animation has a big block of colour that covers the page. Check https://transitionlink.tylerbarnes.ca/docs/install

[2019-10-07 17:35] TylerBarnes opened #139 "disable animations when user has set prefer-reduced-motion"
This is an accessibility issue.
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion

[2019-10-08 08:29] watarutmnh commented on #137
@TylerBarnes
I tried to overwrite style with mysite/src/gatsby-plugin-transition-link/style.css but seems not working.
Am I having wrong path for shadowing?
I love your plugin anyway!

[2019-10-08 14:41] TylerBarnes commented on #137
Hmm, tbh I'm not 100% sure. Maybe make sure you're on the latest version of Gatsby and try again. Otherwise it might be worth just adding some additional CSS to override that file.

[2019-10-08 23:53] yuuta1999 commented on #137
Hey @TylerBarnes, I'm sorry for my late response. I think shadowing is worked perfectly but it seemed overwhelming for me to add shadowing to my codebase. And yeah, you can add additional CSS to override that file like below:
[code]
This is my solution to this issue. I will close this issue. Keep working on this great project.

[2019-10-08 23:53] #137 closed

[2019-10-08 23:54] TylerBarnes commented on #137
Thanks @yuuta1999 ! Glad to hear it's working for you.

[2019-10-09 03:20] watarutmnh commented on #137
@TylerBarnes tried with latest gatsby but it doesn't shadow original style.css. but it solved with additional css to override. cheers!

[2019-10-10 01:02] geoffdgeorge commented on #138
Ah ha! Serves me right for not clicking through every link of the docs. Adding a resolve option worked beautifully. Thanks for you help!

[2019-10-10 01:02] #138 closed

[2019-10-10 01:03] TylerBarnes commented on #138
Glad to hear that helped!

[2019-10-12 01:39] timmysmalls commented on #83
This is the problem I'm also facing with this plugin. I'd love to know if there's some way around this. I've tried hacky workarounds like setting a timeout to scroll to the anchor x milliseconds after the page has transitioned, but this is a. inconsistent, and b. ugly as hell. I'm sure there must be a more elegant solution.

[2019-10-13 21:19] cloudratha opened #140 "More flexibility to control the DelayedTransition's key"
Having a way for the key to be overridden would allow us to control if certain nested links need transitioning.

For example I have a route `/search/`, but because of the nature of SPA and reach router, i need the query term to be apart of the pathname, e.g. `/search/some+search+query/` (querystring updates dont trigger route renders). This forces an entire remount of the search page, which is und

[2019-10-14 00:18] Kethatril commented on #131
I also am seeing this behavior. It looks like it breaks the hot reload of any graphql data.

For example I have some json files processed by `gatsby-transformer-json`. Normally changing them would hot reload the page with the new data, however with this plugin added it does not.

[2019-10-14 12:00] cloudratha commented on #140
I tried a fork and tested out my approach and it seems to work quite well. Reach Router's `pick` utility method helps match a pathname to a list of routes.

Although I'm not sure my use case warrants this change? It would be great to disable transitions for specific routes, especially for client-only routes.

[2019-10-14 15:52] frazerf commented on #118
+ 1 - I'm getting the same issue whilst using AniLink.

[2019-10-14 20:44] frazerf opened #141 "TransitionPortal not loading layout correctly on first visit"
Hi there,

I've run in to a problem when I first visit my site - https://zen-bartik-a5d694.netlify.com/. There's a sidebar which should be present on the left hand side of the page but on initial load it's now being added to the bottom of the page.

I'm using TransitionPortal with AniLink which maybe the problem but I'm not 100% sure.

My Layout.js file looks like this -

[code]

When I visit a pa

[2019-10-14 21:11] TylerBarnes commented on #141
Hey @frazerf , I have a simple fix for you!
The transition portal is meant to be used for animation elements rather than page content. You should use a persistent layout component to keep your sidebar. Have a look at this issue for more info https://github.com/TylerBarnes/gatsby-plugin-transition-link/issues/138#issuecomment-539102826

Let me know if that doesn't solve your issue and I can give yo

[2019-10-14 21:11] #141 closed

[2019-10-14 21:59] frazerf commented on #141
Such a simple fix! Thanks for the @TylerBarnes. Love the plugin by the way!

[2019-10-16 23:02] TylerBarnes commented on #140
@cloudratha can you link your fork?

Thanks!

[2019-10-17 10:12] cloudratha commented on #140
My fork was more of a butchered proof of concept.

https://github.com/cloudratha/gatsby-plugin-transition-link

This enables a poorly named plugin option called `matchPaths` which accepts an array of routes.

Then we check the incoming route to see if it matches any of the `matchPaths` using @reach/router's `pick` method.

https://github.com/cloudratha/gatsby-plugin-transition-link/blob/0292b13c17

[2019-10-17 14:20] webjay opened #142 "Use TransitionLink, but on a button"
#question
I assume that I would need to style the `TransitionLink` element to look like a button if I want it to look and act like a button?
There is currently no other way?

[2019-10-17 14:22] TylerBarnes commented on #142
@webjay what your use-case?

[2019-10-17 15:57] webjay commented on #142
@TylerBarnes The use-case is that when you click on a button [here](https://q.weareheadlight.com/im-usually-5-minutes-late.html), we would like [this](https://user-images.githubusercontent.com/99781/66379219-52433780-e9b5-11e9-91e2-4336e3e60c89.gif) animation.

[2019-10-17 16:06] TylerBarnes commented on #142
@webjay I think for accessibility those should be links. The site you linked is using the button-looking elements to navigate to different pages which makes them hyperlinks (see http://www.webaxe.org/proper-use-buttons-links/).

I think applying transition-link to buttons is outside the scope of this package as buttons are typically for actions that happen on the current page like opening a modal.

[2019-10-17 16:20] webjay commented on #142
@TylerBarnes I think you are correct! :)

[2019-10-17 16:21] #142 closed, assigned to nobody

[2019-10-17 16:22] TylerBarnes commented on #142
@webjay sounds good. Cool site by the way!
Let me know if you run into any other issues!

[2019-10-18 14:28] andresmrm opened #143 "Duplicate history states when using pathPrefix"
When GatsbyJS `pathPrefix` config is set, navigation through `TransitionLink` inserts duplicated states in browser history. So we have to press browser "back" button twice to return to previous page.

It seems the problem is in this line:
https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/f98360bee46998d64597f9f21ec06704ae138eed/src/gatsby-browser.js#L11
`location.pathname` includes

[2019-10-18 23:05] TylerBarnes commented on #143
Good find!! I think a fix for this should be pretty simple.

Here -> https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/bd76f4eccfb7f329f67e39dbc2594d129d04bbf1/src/utils/triggerTransition.js#L27 `to` needs to be wrapped with `withPrefix` -> https://www.gatsbyjs.org/docs/gatsby-link/#add-the-path-prefix-to-paths-using-withprefix

[2019-10-18 23:30] TylerBarnes commented on #140
So I'm also not sure what the best approach here would be, but as much as possible I want to keep URL's out of the plugin config. The spirit of transition-link is for the settings to be on the link. Ideally if the page shouldn't remount but we're still navigating, there should be a prop on the transition-link component.
That might even be simpler than matching wildcard paths.
Maybe it could be som

[2019-10-18 23:32] TylerBarnes commented on #140
Or maybe we could even have your matchPaths option as a prop on transition-link?

[2019-10-19 10:37] cloudratha commented on #140
I like the idea of being able to set the key as a prop. But it also should be honoured if triggered programmatically. It would probably be a good idea to write an example of how to trigger navigating (as I couldn't quite figure out how to pass through all the required fields to the trigger method) , and how to set the key too.

[2019-10-21 15:45] TylerBarnes commented on #140
I think a React hook should be written for programatically navigating. Something like `useTriggerTransition` which would return a function you can call to navigate. I believe triggerTransition requires some context so that would wrap it up nicely.

[2019-10-22 15:56] TylerBarnes opened #145 "Remove transition state & status from page props"
Currently each page is cloned in order to add additional props to it related to the transition. The reason for this was to try to make things as seamless and simple as possible, so that you could use the props without needing to hook anything up. This was a bad choice though as it causes unnecessary re-renders for people who aren't using these props at all.
This is a potentially breaking change so

[2019-10-22 16:16] TylerBarnes commented on #145
[These lines](https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/aeae1d3ecad18ed86b566e3b9e788cff534bef49/src/components/TransitionRenderer.js#L56-L58) should be changed to just `{children}`. The status passed in as a prop can also be removed as well as the `shouldComponentUpdate` lifecycle method.
After making these changes, we should check if there are still unnecessary renders ha

[2019-10-22 16:23] TylerBarnes commented on #139
This should be handled in the `onClick` in the [transition-link component](https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/aeae1d3ecad18ed86b566e3b9e788cff534bef49/src/components/TransitionLink.js#L39-L58) and in [shouldNavigate.js](https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/master/src/utils/shouldNavigate.js).

If prefers-reduced-motion is set, shouldNavig

[2019-10-24 23:33] guandjoy commented on #76
Not sure that my case is related to this issue, but it seems like it is.
I had a scroll jump at the end of the exit page with TransitionLink.
I solved this by setting the `position` property to `absolute`. Now scroll stays where it should.
[code]

[2019-10-25 22:11] mjsarfatti commented on #114
In case anybody stumbles here and needs to change page programmatically, this is how I've done it using hooks:

In your **page.js**

[code]

Ps: @TylerBarnes one thing: React doesn't like it that we pass the Consumer to `useContext`, it wants us to be provided with the context itself... it would be awesome if 'gatsby-plugin-transition-link/context/createTransitionContext' exported the context itse

[2019-10-27 10:41] edoardolunardi commented on #76
@TylerBarnes any hacky way to completely prevent the window from jumping to the top? I don't need it, since I have 100vh components to navigate to (so it's guaranteed they are fully displayed on the page), but when I go back to the homepage, I need to keep the scrolling position. Thank you!

[2019-10-28 13:42] spacedawwwg commented on #134
I'm having this issue too.

`Error: No PostCSS Config found in: /my-project/node_modules/gatsby-plugin-transition-link
    at config.search.then (/my-project/node_modules/postcss-load-config/src/index.js:91:15)`

[2019-10-28 14:15] patrickbjohnson commented on #134
I've actually gotten this to work within Sanity.

My original inclination that I should be adding this plugin at the root of the project. Most `template` sanity projects are mono-repos so they use `lerna` to manage the `studio` portion of sanity and the `web` portion of the front-end.

When I installed this plugin into the `web` portion of the mono-repo I had no issues getting it to run.

[2019-10-29 10:19] andresmrm commented on #143
Hi, @TylerBarnes !

Any idea about when you'll have time to check my PR?

Thanks!

[2019-10-29 18:50] TylerBarnes commented on #114
@mjsarfatti this looks awesome! I'd love a PR. The one thing I would change is to make it so triggerTransition doesn't have to have an event if event is undefined (or false?). Thanks for looking into that!!
What do you think about `useTriggerTransition` as the hook name?

[2019-10-29 21:00] TylerBarnes commented on #143
Sorry for the delay @andresmrm , I've been super busy working on a new source plugin for Gatsby!  I'm sorting through about 300 github emails right now :| haha. I'll check this out either this evening or tomorrow and merge/release or get back to you. Thank you for the reminder!

[2019-10-30 00:22] TylerBarnes commented on #76
@edoardolunardi you could use [component shadowing](https://www.gatsbyjs.org/blog/2019-04-29-component-shadowing/) to override the file from your Gatsby site until there's a fix for this.
I joined the Gatsby core team a few weeks ago and I'm able to work on this plugin during work hours now! So things should start picking up a bit more around here soon.

[2019-10-30 21:58] #143 closed

[2019-10-30 22:02] TylerBarnes commented on #143
@andresmrm thanks for your PR (https://github.com/TylerBarnes/gatsby-plugin-transition-link/pull/144), and apologies again for the delay!
This is published in `gatsby-plugin-transition-link@1.13.1`

[2019-10-30 22:10] andresmrm commented on #143
Thank you! =D

[2019-10-30 22:30] #139 closed

[2019-10-31 23:36] NerdCowboy commented on #145
@TylerBarnes It appears you already addressed this in the branch V2-2 SHA: 350ea0c2018e8be74ed45505eee0de64b028149a

[2019-11-01 00:44] TylerBarnes commented on #145
Good catch! To be honest I can't remember if that branch got very far. Thanks for the reminder. Let's keep this open so that ot doesn't get missed in v2. I will probably start a new branch for v2 still. I have more time to work on this project now, so things should start moving again.

[2019-11-05 05:08] #127 closed

[2019-11-05 10:04] joebentaylor1995 opened #148 "AniLink Paint Drop seems very Jaggy & slow"
When using the paintdrop transition, it seems quite janky. see: [Colorworld](colorworld.netlify.com)

Is there a way to improve the performance of this?

[2019-11-05 22:24] TylerBarnes commented on #148
@joebentaylor1995 there is currently a performance issue due to transition-link cloning each page and injecting transition status props into the page. It causes unnecessary re-rendering of the entire exiting and entering pages.
I'm currently working on a V2 that will remove this functionality but as it's a breaking change I wont be able to add it as a patch or minor. Maybe in the meantime it could

[2019-11-05 22:25] TylerBarnes commented on #148
I love your site BTW. The animations between pages are awesome!

[2019-11-05 23:05] TylerBarnes commented on #148
Ok so I just went ahead and added the option to not inject props. Try it out and let me know what you think.
`yarn add gatsby-plugin-transition-link@1.16.0`

[code]

[2019-11-05 23:06] TylerBarnes commented on #148
You can also try making your pages pureComponents in case they're still re-rendering https://reactjs.org/docs/react-api.html#reactpurecomponent. I saw just now that not injecting props reduced the number of renders but purecomponent could potentially reduce that even further

[2019-11-06 10:45] webjay opened #150 "Cannot read property 'state' of undefined"
I am seeing this error when I `yarn build` with version 1.16:

The property `entry` is `undefined`.

[2019-11-06 12:43] webjay commented on #150
An example:

`./pages/about.jsx`:
[code]

[2019-11-06 18:32] TylerBarnes commented on #150
🤦‍♂️I'll check it out

[2019-11-06 18:48] #150 closed

[2019-11-06 18:54] TylerBarnes commented on #150
This is fixed! Upgrade to `gatsby-plugin-transition-link@1.16.1`, last release could've used a bit more testing ;)

[2019-11-06 18:55] TylerBarnes commented on #145
This is now possible via a plugin option.

[code]

injectPageProps is true by default, in v2 it will be false by default

[2019-11-06 18:55] #145 closed

[2019-11-06 20:07] TylerBarnes commented on #53
Just added this to the docs like 1 yr later 😆

[2019-11-06 20:09] TylerBarnes commented on #148
There was a bug in 1.16, use `yarn add gatsby-plugin-transition-link@1.16.1` instead

[2019-11-06 22:24] joebentaylor1995 commented on #148
Hey @TylerBarnes ive implemented your solution, but the jaggyness towards the end of the animation still remains, it does seem more performant, but the animation is still not quite right. you can check it out from the same link as before.

[2019-11-06 22:58] joebentaylor1995 commented on #148
Also @TylerBarnes it seems that i can see the previous page for ever so slightly of a second after the animation has finished

[2019-11-06 23:00] joebentaylor1995 commented on #148
After messing with a few things, io managed to get the animation looking pretty sweet and with a good transition, its just that previous page fade

[2019-11-07 00:49] TylerBarnes commented on #148
@joebentaylor1995 I'm not seeing the previous page at the end. What OS and browser are you in? Also what are the specs on your machine? Maybe I can more closely replicate your set up. Or maybe a GIF would help?

[2019-11-07 09:11] joebentaylor1995 commented on #148
I could put you onto the repo to take a look if you want?
My computer doesnt want to seem to let me take a gif of the screen for some reason... Have you got something i can message you on directly to shwo you the issue? @TylerBarnes

[2019-11-07 09:40] joebentaylor1995 commented on #89
I resolved this issue, with it being related to what @JPrisk had mentioded, it was a case of adding some arguments to say if something had a specific class toggle a different animation, so you have to be careful with what animations you use based on the classes applied

[2019-11-07 17:07] TylerBarnes commented on #148
@joebentaylor1995 I think we're in different timezones but we could do a zoom call (I'm in PST time). Unfortunately I will be going away on vacation from tomorrow (the 8th) until the 19th. Message me on twitter to get a call set up. If we can't get it worked out before then I would recommend using the paintDrip animation to create your own transition-link animation. You can copy this file https://

[2019-11-07 20:10] joebentaylor1995 commented on #148
Are you available now?

[2019-11-07 20:11] TylerBarnes commented on #148
Just dm'ed you a zoom link

[2019-11-07 22:04] #148 closed

[2019-11-07 22:06] TylerBarnes commented on #148
@joebentaylor1995 I believe I've fixed this, please re-open if not.
So it looks like in paintDrip the exit timing was hardcoded instead of based on the duration of the animation. Try `gatsby-plugin-transition-link@1.16.2` for a fix!

[2019-11-07 22:06] TylerBarnes commented on #148
Your menu timer of 600ms is good still

[2019-11-07 22:14] joebentaylor1995 commented on #148
@TylerBarnes Fixed!!! Absolute legend.

[2019-11-07 22:42] TylerBarnes commented on #148
Glad to hear it!
I'd love to put colorworld in the list of sites that use transition-link when it's ready! It's a really nice site!

[2019-11-12 22:31] mjsarfatti commented on #114
@TylerBarnes sorry for the late reply, I was investigating a problem with my app using a stale TransitionLinkConsumer, but it ended up not being caused by gatsby-plugin-transition-link.

What if the call was:
`const triggerTransition = useProgrammaticTransition()` ?

And yes I agree on the optional event.

[2019-11-17 16:20] lukaszkalemba opened #154 "transition link as submit button"
Is there any way to use transition link in form's submit button and at the same time keep whole functionallity?

[2019-11-18 15:10] akselinurmio opened #155 "TypeScript definitions missing"
Currently, when using the plugin within a TypeScript file, the validating tools complain about missing type declarations. All of the components imported from the plugin (TransitionLink, AniLink, TransitionState and TransitionPortal) are implicitly set as type `any`.

For example,
[code]

results in errors like

[code]

That means that things work just fine, but there’s no TypeScript magic ✨ when i

[2019-11-21 17:36] #154 closed

[2019-11-22 09:22] solubletech commented on #76
@edoardolunardi @TylerBarnes Hey guys, you can prevent window scroll jump to top at the start of the exit transition, adding an **apperAfter** on entry param.

Look this example:
`
            <TransitionLink
                to={`/${finalLink}`}
                partiallyActive={true}
                exit={{
                    length: 1.5,
                    trigger: ({node, exit, e}) => transiti

[2019-11-24 23:22] amcc opened #156 "GSAP animation not working with GSAP 3.0.1"
I just did a "yarn upgrade --latest" and got GSAP 3.0.1 - this broke Anilink without getting any erros, but it caused the links to happen instantly and not animate.

Rolling back to "gsap": "^2.1.3" has fixed everything.

There might be documentation on this, sorry if I missed something, but in case this is useful it might help someone else.

[2019-11-25 17:37] mjsarfatti commented on #114
#157 👌

(I went with your suggestion, `useTriggerTransition`)

[2019-11-26 16:54] bradleyDouglas opened #158 "Persistent Layout Issues"
Hello

Thanks for the plugin, it really helps with link specific transitions!

I've used the plugin with another project and didn't have any issues, but for some reason, I'm running into some serious issues on this project.

The first issue I noticed is that my Layout Component is being mounted twice. I've gone through the pages and that component is not included in any page, so I can't figure out

[2019-11-27 23:26] cusspvz opened #159 "NPM version seems to have sources with your local absolute paths"
Not sure if this is an issue, neither if it is generating a small overhead on the generated bundle. Just noticed that there is an absolute path reference to your local env on the npm released files.

![image](https://user-images.githubusercontent.com/3604053/69765726-06b73980-116d-11ea-8b4d-58c3aaa11d42.png)

[2019-12-02 16:47] bradleyDouglas commented on #158
It appears that the layout component is being mounted/unmounted twice on the initial load. After that, it mounts and unmounts once per page load. This is what is causing my error as my Intro Component is being rendred twice and causing janky animations and an error in the console.

[2019-12-03 22:30] bogdancss opened #160 "Reduce/remove delay between navigation"
Currently, you have to wait for the transition animation to finish before being able to navigate again using the transition link.

Is there a way of disabling or, even better, removing this delay?

[2019-12-04 09:39] Acidic9 commented on #27
Any updates to this? I'm also having an issue and using react spring

[2019-12-05 07:44] Acidic9 commented on #76
Looking forward to seeing a simple solution such as `preventScrollJump`! I am using this on my portfolio site and really need this feature as it currently breaks the flow! :)

[2019-12-06 13:37] tijsluitse opened #161 "Cannot read property 'disableAnimation' of undefined"
Hi there,

I'm getting this error, any idea?

[2019-12-06 23:02] TylerBarnes commented on #161
Hey @tijsluitse can you share a reproduction repo so I can have a look?
Thanks!

[2019-12-07 16:59] VeFoWe commented on #161
I'm experiencing the exact same issue. After setting up a basic Gatsby instance and following the instructions here: https://www.gatsbyjs.org/docs/adding-page-transitions-with-plugin-transition-link/
(with the only difference of using Yarn instead of NPM) up until the point of inserting
`<AniLink paintDrip to="page-2"> Go to Page 2</AniLink>`

This error is happening:

---
![Bildschirmfoto 2019-12

[2019-12-07 17:12] VeFoWe commented on #161
@TylerBarnes : I've cloned my repository here :

https://github.com/VeFoWe/PropertyOfUndefined

As stated above, it's a basic Gatsby instance that has only the TransitionLink Plugin added.

[2019-12-08 11:46] tijsluitse commented on #161
@TylerBarnes thanks for answering. I am busy cloning my repo and making it shareable. Maybe we could look into the repo of @VeFoWe first. Because mine is a bit more complex!

[2019-12-08 16:10] getatny commented on #160
I face the same issue, if you add some Layout component into `gatsby-config` and remove layout code from page file as document guide? I solve this problem after added those Layout component back to page file .maybe you can have a try.

[2019-12-08 22:23] milespratt commented on #156
Seeing similar broken transitions with gsap 3.0.2 and gatsby-background-image. The background images are loading instantly while the rest of the page animates.

Also solved by rolling back to gsap ^2.1.3

[2019-12-09 20:24] TylerBarnes commented on #134
@patrickbjohnson good to know! thanks for sharing. @spacedawwwg did you have a chance to try installing there?

[2019-12-09 21:39] TylerBarnes commented on #159
Weird 🤔 not sure what that's about! This is definitely something that should be removed. I'll have to do some more digging

[2019-12-09 21:43] TylerBarnes commented on #158
Hey @bradleyDouglas, apologies for the late response here! This seems odd. If you can share your code that would be super helpful. Off the top of my head I'm not sure what would be causing this. I've been planning on adding support for `gatsby-plugin-layout` instead of handling it internally. If I can use your repo, I might just make that work and see if it fixes the issue.

[2019-12-09 21:45] TylerBarnes commented on #27
@Acidic9 can you share your repo? I've been thinking on adding an option to the latest release to change how pages overlap and I think that may help you. It would be good to use your site to debug and see if it fixes your issue.

[2019-12-09 22:25] #76 closed

[2019-12-09 22:28] TylerBarnes commented on #76
@Acidic9 upgrade to `gatsby-plugin-transition-link@1.17.0` to use the preventScrollJump prop on transition link

[2019-12-09 22:35] TylerBarnes commented on #161
@VeFoWe your error is unrelated and luckily it's a simple fix :)
Your error is `TypeError: Cannot read property 'interestingExitAnimation' of undefined`. And that's because you're referencing `this` from within a functional component which has no `this` context.

You'll have to change this:
[code]
into something like this
[code]

[2019-12-09 22:37] TylerBarnes commented on #161
@VeFoWe I also switched out your usage of transition link for anilink with paintDrip and it's working for me.

[2019-12-09 22:39] TylerBarnes commented on #160
@bogdancss I originally added this because it caused problems if one animation could begin before another finished. Sometimes both animations would act upon the same element for a moment with unexpected results. For now I don't want to remove that, but I would consider merging a PR that adds an option for it!

[2019-12-09 22:41] TylerBarnes commented on #156
The upgrade to GSAP v3 is a major version because they've redesigned their internal API https://greensock.com/3/

The animations in AniLink will have to be updated to work with their new api changes.

[2019-12-09 23:01] bradleyDouglas commented on #158
@TylerBarnes, no worries. Here's a link to the repository

https://github.com/bozell-omaha/obd

I appreciate the help!

[2019-12-09 23:12] #83 closed

[2019-12-09 23:13] TylerBarnes commented on #83
Hey guys, I just added a fix for this in `gatsby-plugin-transition-link@1.17.2`. Try it out and let me know what you think!

[2019-12-09 23:18] timmysmalls commented on #83
@TylerBarnes That's really awesome dude! Thanks a million! I'll check it out as soon as I get a chance!

[2019-12-09 23:43] TylerBarnes commented on #161
@tijsluitse I just ran into your error when I removed transition link from the gatsby config of a site. Can you double check that it's added to your config?

[2019-12-10 00:03] TylerBarnes commented on #158
Ok, so there are a couple things happening here. First, your mounted/unmounted check isn't 100% accurate because it's running your effect on every render.

The second param in useEffect is when to re-run the effect.

[code]

Since you have no second param it will re-run over and over

If you change it to
[code]

it will only run when the component mounts.
So that's only half the issue because ther

[2019-12-10 09:28] VeFoWe commented on #161
@TylerBarnes : thank you for replying - but that did not solve the issue for me, it did generate the exact same error.

I've been following these instructions here [https://www.gatsbyjs.org/docs/adding-page-transitions-with-plugin-transition-link/#predefined-transitions](url) step by step - could you please share your repo in which switching  the usage of transition link for anilink with paintDrip

[2019-12-10 16:09] bradleyDouglas commented on #158
AH, great catch. Definitely fixed that console log issue. Curious to see what you come up with on the other front. I can't seem to figure it out.

Thanks!

[2019-12-10 21:49] TylerBarnes commented on #161
@VeFoWe that was using the repo you provided. I just get a React error from the latest commmit, no transition link specific errors. Have you pushed up your latest work to that repo?

[2019-12-10 21:51] TylerBarnes commented on #161
@VeFoWe also there's no usage of anilink in the demo repo you shared but when I add it it works

[2019-12-10 22:37] TylerBarnes commented on #161
@VeFoWe I forked your repo and added anilink and deployed to netlify https://musing-morse-b7915e.netlify.com/page-2
https://github.com/TylerBarnes/PropertyOfUndefined
It's working there, but I'm happy to take a look again if you're still running into that error.

FYI The paintdrip animation in that Netlify site is buggy and theres an unrelated fix for that being published on npm right now (1.17.4)

[2019-12-11 00:04] TylerBarnes commented on #158
Hey @bradleyDouglas , upgrade to `gatsby-plugin-transition-link@1.17.5` for a fix. I ended up needing to move a couple things around internally so that it wasn't remounting. You should be able to use the built in layout component or `gatsby-plugin-layout` no problem now (as long as TL comes before `gatsby-plugin-layout` in your config).
Let me know if that doesn't fix it for you and I can take ano

[2019-12-11 00:04] #158 closed

[2019-12-11 01:32] Acidic9 commented on #27
Sure @TylerBarnes I'll make it public just for a few days for now.

https://github.com/acidic9/portfolio

I've done some workarounds, but you should be able to reproduce it by changing the package from `1.5.0-beta.3` to `latest` as far as I remember.

[2019-12-11 01:49] Acidic9 commented on #27
Sure @TylerBarnes I've made you a collaborator as it's currently a private repo for now.

https://github.com/Acidic9/portfolio/invitations

I've reproduced the bug in a seperate branch: `bug/gatsby-plugin-transition-link`

[code]

[2019-12-11 18:35] TylerBarnes commented on #27
That's great! thanks @Acidic9 !

[2019-12-12 07:49] ajz003 commented on #84
I'm also having the same issue. Using 1.9.1 works though...

[2019-12-12 16:29] tijsluitse commented on #161
Hi @TylerBarnes for me it's still not working. Can I add you as a contributor to my repo?

[2019-12-13 06:23] ajz003 commented on #91
I'm having this issue as well. It works fine for me on `gatsby develop` and `gatsby serve`, but the animations simply don't happen on gh-pages. I hosted the same repo on Heroku and the animations work there.

[2019-12-16 17:54] bradleyDouglas commented on #158
@TylerBarnes Just updated - was out on vacation - and everything seems to work great. Appreciate it!

[2019-12-16 19:05] TylerBarnes commented on #158
Woo! Glad to hear it. Happy holidays @bradleyDouglas
Let me know if you run into any other problems

[2019-12-16 19:11] TylerBarnes commented on #161
@tijsluitse thanks for adding me! I can't get the site to run as it requires some env variables. I see you're on v1.16.2 though, try upgrading to 1.17.5 as that may fix the problem for you.

[2019-12-16 20:02] TylerBarnes commented on #91
Hey everyone, sorry for the delay on this. I'm not sure why this was happening but after I upgraded all Gatsby packages, transition link, and React in the example repo above, and then deployed to GH pages after building with `gatsby build --prefix-paths` it deployed and works fine. https://tylerbarnes.github.io/test-anilink/

Please upgrade transition link to the latest version and make sure your

[2019-12-16 20:02] #91 closed

[2019-12-16 20:53] #84 closed

[2019-12-16 21:00] TylerBarnes commented on #84
Ok, so this took far too long for me to fix. Apologies for that!!
A fix is published in `gatsby-plugin-transition-link@1.17.6`.

The original reason this bug was unintentionally introduced was to prevent bugs if someone pressed the back button during the cover transition. That's no longer necessary since I've disabled the back button during any transition in a later release.

If anyone is still ha

[2019-12-16 21:42] #89 closed

[2019-12-16 21:46] TylerBarnes commented on #89
Hey! Apologies for taking so long to get to this. A fix is published in `gatsby-plugin-transition-link@1.17.7`

Turns out this was related to some code where I was trying to get reversed animations working when going backwards in the browser. Since that feature never made it, I've simply removed all the related code and it's now returning the expected status instead of POP.

[2019-12-16 21:50] TylerBarnes commented on #155
@akselinurmio this is a great idea!

[2019-12-17 04:56] LinnJS opened #171 "build error when adding gatsby-plugin-transition-link to gatsby-config.js"
### Package.json:
[code]

### Steps to reproduce:
add `gatsby-plugin-transition-link` to gatsby-config.js, and run yarn build

### I get the following error:
![image](https://user-images.githubusercontent.com/23741323/70965979-8dba4c00-205f-11ea-9893-ffec52f4e51d.png)

Please help, want to use this so badly, works great in dev!!!

[2019-12-17 06:03] LinnJS commented on #171
### Resolution
After feeling like I was crazy for having this issue I was like hey the Steps to Reproduce are so simple why not spin up a newly generate Gatsby project, and install this module and see if I can reproduce myself. Low and behold I got no errors. So I went ahead, and installed all the same packages but fresh, and latest versions. Still no error... So I transplanted the package.json to

[2019-12-17 06:07] #171 closed

[2019-12-17 07:41] TylerBarnes commented on #171
Glad you figured it out!
Looks like in your first package.json you had v1.17.3 and in your updated one you have v1.17.7
Most likely you were experiencing a legitimate regression in 1.17.3 which was probably fixed by 1.17.4.

Anyway glad you got it sorted :) let me know if you run into any other issues!

[2019-12-17 07:42] TylerBarnes commented on #171
Oo, a good tip for you. If you're using yarn, you can run `yarn upgrade-interactive --latest` to get an interactive upgrade prompt from the command line. You can use your arrow keys and spacebar to select which packages to upgrade to the latest version, and they'll be installed when you hit enter.

[2019-12-17 10:56] tijsluitse commented on #161
@TylerBarnes upgrading does the trick! Thanks 🙏🏻

[2019-12-17 16:55] TylerBarnes commented on #161
Woo! Glad to hear it :)

[2019-12-17 16:55] #161 closed

[2020-01-02 18:33] MrUltimate opened #173 "Fade out then Fade in, without crossfading?"
I'm trying to create a simple fade between my pages, however, I don't like the default cross-fade behavior of `AniLink's` fade feature. Is there a way I can tweak the fade so that it fades out first, then fades in?

[2020-01-02 18:53] TylerBarnes commented on #173
@MrUltimate there's no option for that currently. I would accept a PR adding an entryDelay option if you want to make one. Otherwise you can copy the AniLink fade code and use it as a custom transition link component in your project.
https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/9052d0b14517e8550582c07574571d8753fb80a1/src/AniLink/Fade.js#L44

[2020-01-03 13:31] kube23 commented on #128
Hi, Ive just ran into same problem, is this still relevant and the V2 is not out yet? Thanks.

[2020-01-03 17:53] piemasters opened #174 "AniLink cover 'GSAP target null not found'"
When using the AniLink `paintDrip`, `fade` and `swipe` animations they all work fine. However when using `cover` the animation doesn't run and I get the following console warning:

[code]

Dep versions:
[code]

I wondered if you had any idea what the cause could be? I'm sure I've used the above before and it's worked fine and downgrading versions hasn't seemed to have made a difference. Thanks!

[2020-01-03 20:54] karamanliev opened #175 "Using AniLink shows immediately next page, before transition has started"
Hello, I've tried different methods implementing this, I've also tried 1.16.0, because I'm having the query parameter problem that has been discussed in #129, but pretty much I link to a page using:

`<AniLink paintDrip hex="#003F85" to="/game/m1">
 Go to Page 4
 </AniLink>`

And what I get is this: [VIDEO](https://i.imgur.com/o124T4w.mp4). If you look carefully for some reason the next page shows

[2020-01-07 14:28] mysterybear opened #176 "Many renders when logging to console from render"
Hi,

Howcome this plugin causes this behaviour?

![gif of problem](https://github.com/mysterybear/issue-demo-transition-link-renders/raw/master/problem.gif)

Code for this is a minimal diff on gatsby-starter-default just adding this plugin and swapping out Gatsby's `Link`s with this plugin's, and then adding `console.log`'s to the components' render blocks. Here: https://github.com/mysterybear/iss

[2020-01-08 05:34] shivamsingha opened #177 "TypeError: _ref2 is undefined in TransitionLink"
I'm using the react-spring example and I get this error:
[code]

Here's my code:
[code]

[code]

[2020-01-08 06:49] ajayns opened #178 "RangeError: Maximum Call Stack size exceeded and App crashes"
## Error:
I configured a basic version of AniLink for testing transitions and that itself seems to be crashing with the following error:
[code]

[code]

[code]

All of the above errors occur on repeat.

## My config:
My transition link looks like:
[code]

Additional dependencies and packages used:
styled-components
locomotive-scroll

[2020-01-08 11:18] ajayns commented on #178
It seems to be a problem with react-helmet and gatsby that was occurring during the transition, unfortunately. Closing the issue.

[2020-01-08 11:18] #178 closed

[2020-01-08 11:41] ajayns opened #179 "AniLink causes flicker when theme changed on page transition"
When transitioning between pages, the theme is changed. During the transition the entering page has the theme right, but once the transition is completed, momentarily (<1s) the page returns to the initial theme and comes back to actual set theme.

Basically like how the theme change transition should work in https://gatsby-plugin-transition-link.netlify.com but after the transition to dark mode, i

[2020-01-08 23:23] TylerBarnes commented on #128
@kube23 it is still relevant and V2 isn't out yet. I may be able to do this without it being a breaking change, I'll put this on my list to check out in the next couple weeks

[2020-01-08 23:25] TylerBarnes commented on #174
🤔 weird! any chance you could share a repro so I could check it out? That would be super helpful!

[2020-01-08 23:26] TylerBarnes commented on #175
🤔 super strange! Can you share your repo so I can debug? That would be really helpful!

[2020-01-08 23:32] TylerBarnes commented on #176
Hey @mysterybear ! The reason for this was actually a poor API design decision I made originally. Essentially this is because the transition state/status is passed to each page as props. Since those props keep changing it keeps re-rendering the page. Since removing this would be a breaking change I added an option to disable it. See https://github.com/TylerBarnes/gatsby-plugin-transition-link/pull

[2020-01-08 23:34] TylerBarnes commented on #178
🤔 interesting! Do you know if this was happening with the regular Gatsby Link as well? Might be something we have to fix in Gatsby core if so!

[2020-01-08 23:35] TylerBarnes commented on #179
@ajayns are you able to share a repro so I can debug? That would be super helpful!

[2020-01-08 23:36] TylerBarnes commented on #118
Thanks for bumping this @frazerf . I'll add this to my list of things to check out in the next couple weeks!

[2020-01-09 06:38] ajayns commented on #179
My own repo could be a bit complex to debug, so I'll strip it and make a sandbox hold up

[2020-01-09 07:19] ajayns commented on #179
Here you go: https://codesandbox.io/s/busy-golick-udg6q

Looking at the simplified version I think it could be something to do with createGlobalStyle from styled-components but I'm still unsure on how to approach this problem.

Thanks for the quick response @TylerBarnes :)
Absolutely love your package!

[2020-01-09 14:50] piemasters commented on #174
Cheers for the reply! I managed to get it working, it seems to be down to some kind of conflict with emotion. In my layout file I moved from using styled components to using the css prop and it suddenly works.

I changed:

[code]

to:
[code]

My repos a bit of a mess for debugging atm but I'll try and clean it up a bit and point you to the relevant files if that helps. There seems to be another is

[2020-01-09 17:44] TylerBarnes commented on #174
Thanks for the additional info! 🙈 that last error could be a TL bug though!

[2020-01-09 18:17] piemasters commented on #174
The repo: https://github.com/piemasters/MiniToTheMax/tree/transition-link

The test that fails: https://github.com/piemasters/MiniToTheMax/blob/transition-link/src/tests/components/header.test.tsx
As you can see I've commented out the main test and am just testing the AniLink component mounts, which fails. I'm guessing I need to add something to my jest config?

The layout file mentioned above: ht

[2020-01-09 23:16] piemasters commented on #174
I've just updated the codebase (and the message above)  with clear examples of:
- the cover animation not working when nesting inside a styled component (header.tsx)
- AniLink throwing `Cannot read property 'disableAnimation' of undefined` when testing with jest & react-testing-library (the same error is thrown in Storybook)

[2020-01-10 06:05] ajayns commented on #178
I think it was some issue within Gatsby itself and googling it, I found a couple of similar issues which suggested yarn upgrade, and well that did the job: I just upgraded gatsby and react-helmet. From the looks of it, it seems like something to do with deepEqual in react-helmet fixed in the latest version.

[2020-01-10 06:19] ajayns opened #180 "Scroll based animation doesn't work when TransitionLink used"
In my project I'm using gatsby-plugin-scroll-reveal (https://www.gatsbyjs.org/packages/gatsby-plugin-scroll-reveal/) which leverages another library Sal for intersection-observer triggered animations for elements.

It seems to be working smoothly until I use TransitionLink or AniLink, which leads to the animation never getting triggered itself. Initially I thought it was just the initial viewport

[2020-01-10 07:01] ajayns commented on #179
Update: I managed to get it running by moving the theming styles from GlobalStyles to a separate component that targets all children. Then the flixker doesn't seem to occur.

[2020-01-12 02:28] poyea opened #181 "Paint drip effect in demo page is not effective"
In [the demo page](https://gatsby-plugin-transition-link.netlify.com/), the paint drip effect is not working. The effect in the package is normal.

Tested in Chrome and Edge.

[2020-01-12 05:36] sashafklein opened #182 "Hard-set opacity of tl-wrapper makes my animation difficult"
I'm trying to create an animation where the exiting page (A) slides down like to reveal the page that's already below it (B) (and a reverse animation where A enters by sliding up over B).

To do that, I want the Page A to always have the top z-index and be full opacity. (As well as B to be full opacity when it "exits" by having A slide up over it).

But it looks like the library sets opacity to au

[2020-01-12 16:09] karamanliev commented on #175
It's a private client repo that unfortunately I can't share, but I think I've located what's causing the issue and was able to isolate it.

So, I have user authenication that is basically using [this](https://www.gatsbyjs.org/tutorial/authentication-tutorial/). There's a `PrivateRoute` component which is used in combination with Router, which doesn't let you see stuff if you're not logged in. The

[2020-01-12 18:31] karamanliev commented on #175
So, I've found a way to make this work. It's really simple, you need to pass a location prop to your `<Router>`. Can be checked in [this commit](https://github.com/karamanliev/gatsby-auth-transition-link/commit/001f484c5a8f71f3f2714fe19d39f81166d6ee37)

[2020-01-12 18:31] #175 closed

[2020-01-14 08:55] meesrutten commented on #177
I have the same issue.
Just created a fresh Gatsby project, followed the installation guide and tried to add some of the examples but all gave this error:
`TypeError: Cannot read property 'disableAnimation' of undefined
(anonymous function)
node_modules/gatsby-plugin-transition-link/components/TransitionLink.js:60
`

[2020-01-14 14:28] shivamsingha commented on #177
`gatsby clean` doesn't solve my problem.

[2020-01-14 15:30] trickydisco78 commented on #30
Having this same issue in 1.9.1

[2020-01-14 20:30] TylerBarnes commented on #175
Glad to hear you resolved this, thanks @karamanliev !

[2020-01-15 05:09] MrWhiteNoisee commented on #177
Also having the same issue as well with a fresh build of Gatsby.

[2020-01-18 05:42] hankandre commented on #161
I've been getting this error when attempting to run Jest with `@testing-library/react`. I think the problem is that AniLink/TransitionLink both utilize `gatsby-plugin-transition-link`'s `InternalProvider` and when you try to test the component the Provider isn't an ancestor so the consumer isn't getting the `values` (`disableAnimation`, etc.) it needs.

`InternalProvider` also makes a call to `win

[2020-01-18 13:05] davwheat opened #183 "Transition end when page loaded"
Sometimes, the transition will take longer than the page takes to load, but other times, the page needs longer.

Is there any way to set the transition to end when the new page's contents are loaded?

[2020-01-19 17:30] davwheat commented on #120
This is still an issue, even with a page with a background. If the new page is shorter than the old, the old page still shows if you scroll.

![](https://puu.sh/F1xpI/5d05064d55.png)

[2020-01-21 10:54] TheoC0m commented on #180
Hi,
I'm facing the exact same problem.

Btw thanks for your awesome work !

[2020-01-21 20:53] TylerBarnes opened #184 "paintDrip not respecting prefers-reduced-motion"
Got this as an email!

[code]

[2020-01-28 16:44] DRD161 commented on #177
Same here. Like others mentioned I am using Gatsby along with styled components and followed the installation guide with no luck thus far. Hopefully this gets resolved soon so I can get some simple page transitions going.

[2020-01-29 17:27] funkfinger commented on #161
@hankandre thanks for this. Saved me a bit of time!

I took a rather aggressive route and swapped out the `testing-library` `render` with one that always provided the `TransitionProvider` - I have a test setup file that does the following:

[code]

[2020-01-30 11:50] Sirk commented on #133
It could be really a great feature to get an initialEntry prop !
Would be really useful for props based animation, actually you got directly `entered` for transitionStatus on page load, and in some case you want to defer a little bit things.
Getting a `entering` then after the initalEntry delay the `entered` would help a lot of use cases.

Thanks @TylerBarnes for this plugin btw.

[2020-01-30 13:42] bbeemster opened #185 "AniLink keeps scroll position on mobile"
Hi,

First off; I absolutely love your work! So far it works really well and it's so easy to use. I did however got stuck on something where I couldn't quite figure out how to fix this.

I'm using the AniLink with the fade transition. When on any regular browser this works fine and as expected. Although when I click the AniLink on my mobile browser (Safari on iOS 13.3.1) it opens the new page on t

[2020-01-31 04:49] ajayns commented on #185
I'm noticing this on Desktop too actually. After the transition, the page is initially in a scrolled state and then quickly jumps into the page top just as the transition completes. This makes the whole motion jerky.

I hadn't noticed this before and it just came up recently so could it possibly be a bug with any recent update?

[2020-01-31 05:01] ajayns commented on #156
@TylerBarnes Is this issue resolved? I didn't know about this and went ahead using GSAP with AniLink with no major issues in transition so far. If that's not the case, maybe in the Readme, for now, we'll have to mention something like `yarn add gsap@^2.1.3` or so instead. Else it'd go on installing GSAP 3 and users will have no idea.

[2020-02-05 12:29] bbeemster commented on #185
Okay so I figured out why this broke on mobile views. This was because my mobile menu was setting a `overflow: hidden;` on the body when the menu was active so that the page could not be scrolled when the menu was open. This however stopped the AniLink from scrolling to the top of the page. Removing this fixed the problem :) I will be closing this issue.

[2020-02-05 12:29] #185 closed

[2020-02-09 05:13] DJRHails commented on #131
Still an issue. ran into this with `gatsby-theme-mdx-deck`

[2020-02-11 05:55] AndreBClark commented on #177
Same issue, build fails on my blog post using markdown during production build `gatsby build`.
 - `gatsby clean` doesn't help,
- everything works fine on `gatsby develop`
- I even tried removing any `transitionLink` or `AniLink` components on that template .

**using:**
gatsby 2.19.12
gatsby-plugin-transition-link 1.17.7
gsap 3.1.1
styled components 5.0.1
[code]

additional context:
- my gatsby si

[2020-02-12 06:23] jayasio commented on #93
Any workarounds for the meantime?

[2020-02-13 07:46] benjam1n opened #187 "Links disabled during transition"
Hi there! Is it possible to enable links while transition is happening? Ideally without using portals. This also happens on https://transitionlink.tylerbarnes.ca.

[2020-02-13 21:11] TylerBarnes commented on #93
@jayasio , there was a recent change that may make this work but I haven't had time to try it out. Are you on the latest version?

[2020-02-13 21:28] TylerBarnes commented on #187
@benjam1n , links are disabled during transitions because there's no way to cancel an animation once it's begun. Clicking one link then clicking another would likely result in unexpected UI bugs for a lot of your users. For example you could click a link that has a slow animation and then spam click a second link that has a faster animation. What would happen in that situation?
I'm open to any ide

[2020-02-13 21:37] TylerBarnes commented on #177
🤔 does that solve the problem for anyone else with this issue?
I haven't had time to work on TL lately :(

If the issue is that TL isn't in gatsby-config, we should throw a more useful error.

[2020-02-13 21:39] DRD161 commented on #177
In my case I did have it in gatsby-config :/

[2020-02-13 21:41] TylerBarnes commented on #185
Glad to hear you sorted it out!

[2020-02-13 21:52] TylerBarnes commented on #177
Ok, so I just pulled down the example, upgraded the example's Gatsby packages and ran `gatsby develop` and it runs perfectly. If you're experiencing this issue please try upgrading to the latest `gatsby` and `gatsby-plugin-transition-link`. If that doesn't solve it, please post a minimal reproduction repo so I can pull it down and have a look.

Thanks all!

[2020-02-13 21:55] TylerBarnes commented on #177
Oh one more thing! I pushed the update in the example repo to master, so you should be able to try it out there as well.

[2020-02-14 18:11] shivamsingha commented on #177
Please take a look at my [repo](https://github.com/shivamsingha/shivamsingha.github.io/tree/transition-link-test)

I'm kinda new to react so I might just be doing something wrong.

[2020-02-14 18:31] TylerBarnes commented on #177
Thanks for sharing your repo @shivamsingha! I pulled it down, switched the transition-link branch, and don't have any transition-link specific errors, but you do have a react-spring problem. You're passing `children` to `<Spring>` but it expects to be passed a function.
Change this:
[code]
To this:
[code]
If you're still seeing errors related to transition-link, delete your `yarn.lock` and `node_m

[2020-02-14 18:36] TylerBarnes commented on #177
I believe some of you are experiencing a bug in an outdated version of transition-link. Please upgrade to the latest version. I'm going to close this issue, but feel free to comment here if you need more help.

[2020-02-14 18:36] #177 closed

[2020-02-14 18:36] shivamsingha commented on #177
I changed `{children}` to
[code]
But now the animation doesn't work properly anymore. So I guess I can't do it the way I'm trying to.
Thanks for your help.

[2020-02-14 18:38] TylerBarnes opened #188 "feat: throw error in development if plugin isn't added to gatsby-config.js"
Atleast one person in https://github.com/TylerBarnes/gatsby-plugin-transition-link/issues/177 had a non-descriptive error related to this. We should detect if the plugin isn't set up properly and throw an error.

[2020-02-14 18:41] TylerBarnes commented on #177
@shivamsingha , you'll need to read more about how `react-spring` works. The function you pass to it receives props from the Spring component that you need to wire up to your components. Check the example I posted above or read the `react-spring` docs. I believe [LevelUpTuts](https://www.youtube.com/user/LevelUpTuts/search?query=react-spring) has a good react-spring course as well. That's off topi

[2020-02-16 16:11] vitorregisrr opened #189 "Dont work if slug has special chars"
Hey! After a long time debugging my app (an specific route don't work), i discovered that this plugin dont support special chars on url:

If the slug is ### /portfolio/aaa, the transition works perfect.
If the slug is /portfolio/vidraçaria-são-pedro, the animation and and the scroll to top just bug and dont work.

What do you guys suggest to fix that?

[2020-02-17 13:29] vitorregisrr commented on #189
The solution is simple to normalize the slug, like that:
[code]

[2020-02-20 20:21] lucasdon commented on #76
@TylerBarnes thank you for your hard work!

Is there a way to get this working with the `AniLink`-Component? Or is this not possible/part of the concept?

I have a long list of links to my articles. The user can navigate to the content of these links via AniLinks. But when they return from my article (via an `AniLink`-Component) the scrollposition of the list is back at the top. And the user has t

[2020-02-21 08:52] zhangyu1818 commented on #189
same question,i use Chinese slugs

[2020-02-21 15:35] yongkyali opened #190 "Inconsistent scroll position while navigating to IDs"
I have just started to use TL and it's awesome. I actually am going to use AniLink on my latest website. But I come to one problem, which I can't navigate to `ID` attributes anymore using `AniLink` or `TransitionLink`.

Here's one example:
```<AniLink to="/product#product_1" paintDrip />```
which should navigate to `<div id="product_1" />`, but it's not working.

Thanks!

[2020-02-21 17:18] yongkylie commented on #190
I just found out that my top position of `hash` value inside `function/onEnter` to be negative.
[code]

I cloned this repo, do `yarn install && gatsby develop`, do logging, and found out the example project is working well (the top's value is positive and just right). I dunno what's wrong in my project. Has anyone ever facing this kind of problem?

[2020-02-24 12:33] mmellado opened #193 "Trigger transition programatically"
Hi,

This library is working great for our project, but I just started facing an issue that I can't find any documentation on how to address. So far all links on our site are `TransitionLink`s. However, we stumbled into a use case where we need to enable click on interaction points within a canvas element. This means we need to be able to trigger an animated page transition programatically.

Diggi

[2020-02-24 12:41] mmellado commented on #193
Well, just realised that #157 is currently opened. Is there an ETA on when this would be merged?

[2020-02-24 17:26] xenostar opened #194 "Double content render when using back/foward buttons."
I'm currently using the 1.17.7 package with the persistent layout option enabled. Browser is Firefox is 73.0.1.

When using AniLinks (I am only using cover), I have no issues with the page transitions. The problem occurs when using the native back/forward buttons in the browser. This has a small chance to cause "double" content to render on the page. The old page appears "under" the new one.

I'm

[2020-02-25 01:12] jayasio commented on #93
@TylerBarnes yes I'm using the latest, v1.17.7 and there seem to be two kinds of behaviors- either the animations aren't triggered or the layout and the content fall into two different scrolling areas, with two scrollbars.

[2020-02-29 04:42] #187 closed

[2020-03-04 23:04] TylerBarnes commented on #193
Just replied to the PR. Should be merged soon!

[2020-03-04 23:06] TylerBarnes commented on #76
@lucasdon If it's not working currently it may need to be wired up in the AniLink components. If you're up to making a PR for it I can guide you through how to get set up. If you're interested, open a new issue with a description of your problem and assign it to yourself and @ me

[2020-03-04 23:08] TylerBarnes commented on #179
Yep, I've seen this before too. I couldn't figure out how to fix it, I think it's a problem in the GlobalStyles function. Another solution is to put your styles into a css file or module outside of Styled Components.

[2020-03-04 23:08] #179 closed

[2020-03-04 23:25] TylerBarnes commented on #120
@muuvmuuv that plugin option is available now.

[code]

@davwheat that would be a separate issue, there are 4 different problems in this issue that all appear similar but have separate causes. If you're able to share a simple reproduction I can have a look at it.

[2020-03-05 07:00] ashussen opened #195 "Conflict with GSAP"
Hey there,

Really weird bug as this should work flawlessly with GSAP.
On my site the GSAP x & y calculation is completely off after I use the TransitionLink.

Here is the code for the onLoad GSAP animation:
[code]

The final CSS for the `animEl.image` is `transform: translate(0px);` if the TransitionLink is not being used.
But with TransitionLink, the final CSS is `transform: translate(-501.811px

[2020-03-06 02:27] TylerBarnes commented on #195
Hey @ashussen , that's really odd. TransitionLink itself isn't using GSAP at all so I'm not sure what could cause that. If you can share a simple reproduction repo I'm happy to take a look and see if I can figure it out.

[2020-03-06 19:26] #156 closed

[2020-03-06 19:32] TylerBarnes commented on #156
A fix for this is published in `gatsby-plugin-transition-link@1.18.0`. I decided this isn't a breaking change for this package, as the functionality of AniLink remains the same even though you need to upgrade to GSAP 3

[2020-03-07 00:42] TylerBarnes commented on #173
Closing this issue for now, but please feel free to PR this in at any time in the future if you're interested.

Thanks again!

[2020-03-07 00:42] #173 closed

[2020-03-07 00:44] TylerBarnes commented on #193
This is available now in `gatsby-plugin-transition-link@1.17.8`.
It is undocumented for now (I'll be migrating the docs from WordPress to MDX soon). But you can see how to use it in the PR linked above

[2020-03-07 00:44] #193 closed

[2020-03-07 01:33] TylerBarnes commented on #181
Looks like it's working now. Must've deployed with a buggy version that was later fixed!

[2020-03-07 01:33] #181 closed

[2020-03-10 05:58] ashussen commented on #195
@TylerBarnes, thanks for your response.

I am still not sure what the problem is, the pixel calculation is weird when combining GSAP with TransitionLink.

I ended up using the `fromTo` on gsap, forcing the element to ends in a specific pixels.
[code]

[2020-03-10 05:58] #195 closed

[2020-03-10 19:06] hellofantastic opened #196 "How to pass props to Layout when its removed"
Awesome work BTW. After I figured out the remove layout ( config resolve etc) for a fixed header nav and studied gsap greensock, pages transitions are slick.

BUT I'd like to pass props to the layout depending  on different pages and sometimes on a page that has a slider per slide . some pages or some slides may have dark or light header image so layout nav needs to adjust color of text and logo.

[2020-03-11 10:22] dellwatson opened #197 "How to animate twice properly before moving page ? or in "exiting" status"
Because using gatsby link, the direct page would be instant, and i want to do some animation on page before the page moving, but it seems the animation doesnt do properly. i tried 2 methods.
i wanted slide transition twice ( go left full then close to right)  like https://fitlab.nl when moving between pages from drawer. on both version, i didnt put any entry/exit

[code]

and later i place `<MySpr

[2020-03-12 18:03] hellofantastic commented on #197
Hey @dellwatson , to try and help you along

First thing , if you want the page you are leaving to hang around for the animation you want to add entry prop delay on the transition  link
like
[code]

Then make sure your animation  ( mine is defined in verticalAnimation using gsap) doesn't take more than delay time

[2020-03-12 18:14] hellofantastic opened #198 "Build on Zeit.co Now fails due to using layout: require.resolve(`./src/components/layout.js`)"
So in order to implement a fixed header navigation on scroll  I added the config for layout adjustments like so as in docs
[code]
But when it comes to deploying on Zeit.co Now zeit has trouble with not finding ./header and ./footer in layout with that config setting, I made sure by taking it out and redeploying and saw that I got a successful build but with a missing navigation ...

Below is with

[2020-03-12 18:41] hellofantastic commented on #198
UPDATE:
Adding footer: require.resolve(``./src/components/footer.js`)  to config does not help it passes in development but fails on prod build

but then I looked at the src in this repo and obviously it wouldn't do anything as your plugin options are specific

[2020-03-12 21:00] hellofantastic commented on #198
UPDATE
 it also fails gatsby build on digital ocean
[code]

[2020-03-12 22:18] hellofantastic commented on #198
capital case filenaming was the issue Mac this works
import Header from "./header";
import Footer from './footer';

but not on Linux

I knew about header.js being different from Header.js on linux BUT also if a lowercase file header.j has a capital case export Header ... does not oork

[2020-03-12 22:18] #198 closed

[2020-03-13 20:55] edueter opened #199 "Can't set persistent component and transitioning content"
I'm having issues placing persistent content in my website. The thing is I have this header that's intended to be placed over every page and transitions. Before that, I was using TransistionPortal but then I red over here that it isn't meant for that case.

However, I guess I'm not understanding the use of this option. I've set it and the result I get is always [this](https://criptografia-e-direit

[2020-03-13 20:56] edueter commented on #199
Currently working on repro-prototype branch.

[2020-03-14 03:15] TylerBarnes commented on #195
Huh, super weird. glad you found a workaround. Happy to take a look at it if it comes up again

[2020-03-17 09:33] laugre commented on #180
Hi ! Same same !
I refered it here [https://github.com/solublestudio/gatsby-plugin-scroll-reveal/issues/3](url) and here [(https://github.com/mciastek/sal/issues/43)](url)
but no answer for now...

Just for information, gatsby-plugin-scroll-reveal animations are well triggered if I use a classic Gatsby Link, so yes I think it is an issue between gatsby-plugin-scroll-reveal and gatsby-plugin-transi

[2020-03-17 13:40] calsal8 commented on #161
I also get this error when rendering TransitionalLink or AniLink from my own Context, which is rendered before the page and `gatsby-focus-wrapper` itself.

[code]

If I wrap AniLink with `<InternalProvider>` it renders without errors, but then I get no transition/animation when I click that link.
I would really appreciate any guidance!

[2020-03-18 23:15] TylerBarnes commented on #199
Hey @edueter the issue is that you're specifying your Header component as a layout, but it's not a layout. What you want to do is add a layout component to that option and put your Header component inside of your layout.
The layout wraps around the outside of your page by way of React's `children` prop but your Header component doesn't add `children`. The effect is that you're rendering a header a

[2020-03-18 23:15] #199 closed

[2020-03-18 23:43] edueter commented on #199
I see! Then I got it all wrong and couldn't figure it out. Thanks, Tyler! Going to test it tomorrow in the office.

Thanks for your plugin too. It's very handy!

[2020-03-25 08:30] matt-sanders opened #200 "Plugins causing a re-commit on each page load"
Hi guys

I'm not sure if this is an issue with this plugin or with [gatsby-source-prismic-graphql](https://github.com/birkir/gatsby-source-prismic-graphql) so have logged this issue [there](https://github.com/birkir/gatsby-source-prismic-graphql/issues/169) also just in case.

I'm using gatsby-source-prismic-graphql to pull content from Prismic. What I've noticed is that using both of these plugin

[2020-03-25 13:59] Vidvi opened #201 "Anilink transition only working once?"
Yeah, as the title says I'm having some trouble with Anilink. First time I load the page and click on a link which is:  `<AniLink cover to="../projects" direction="down" color="orange">
        {portrait}
      </AniLink>`
it only affects the link once. When I go back to the main page (I tested all the possible ways) and click on the same link, Anilink doesn't affect the transition in any way exce

[2020-03-29 00:28] crutchcorn commented on #155
I'll start on the typings tonight

[2020-03-30 15:34] nanguer commented on #74
Hello, I'm in a similar situation.. is a demo repo still needed?

[2020-04-05 16:07] tompiler commented on #34
For anyone checking this out today - the

`import { Spring } from 'react-spring'`

from @TylerBarnes excellent example in his post above is now:

`import { Spring } from 'react-spring/renderprops'`

[2020-04-06 19:15] rohit-gohri commented on #201
I have similar problems sometimes but only when using `gatsby develop`. Haven't experienced the page loading on top on the production build. So could be related to gatsby cache?

[2020-04-12 23:00] mattandryc opened #204 "TypeError: Cannot read property 'getElementsByTagName' of null"
AniLink breaking in Gatsby 2.20.18. I've checked my dependencies and re-installed node modules.

**// package.json**
 "dependencies": {
    "babel-plugin-styled-components": "^1.10.6",
    "gatsby": "^2.20.18",
    "gatsby-image": "^2.3.2",
    "gatsby-plugin-i18n": "^1.0.1",
    "gatsby-plugin-sharp": "^2.2.8",
    "gatsby-plugin-styled-components": "^3.1.2",
    "gatsby-plugin-theme-ui": "^0.3.0

[2020-04-13 14:10] D0m3- commented on #128
It would be nice to write something down in the docs.

[2020-04-20 12:35] persocon commented on #204
same :/

[2020-04-20 17:45] BarrBozzO opened #205 "Implicit use of prefers-reduced-motion"
Some days ago spent hours trying to figure out what's wrong with transition animation.
I think we should mention `prefers-reduced-motion` use in docs. Or at least `console.warn` about it in develop mode.
I would also recommend to add config option to remove such check.

What do you think?

[2020-04-23 16:11] lucasdon commented on #76
@TylerBarnes

I was digging around this issue a lot and I now think it is not really related to your plugin. I have opened a [Stack Overflow Question](https://stackoverflow.com/q/61391673/12188548?sem=2 ), because I think it is in a different scope. But it would be nice if you could review it and confirm I'm not absolutely wrong. If I'm wrong I'm happy to try a PR.

I hope you and everyone else is

[2020-04-23 19:05] alejuu commented on #34
I was able to implement animations with React Spring, but I have a question. There's a component that lives only on the index page; when I navigate from another page to the index I can see the animation, but when I leave the index I can't see anything. I think this happens because this component doesn't exist in the other page. How can I create an exit animation? I don't want to include this compo

[2020-04-24 18:55] lcestou commented on #204
I love the plugin <3

I keep coming back to check also if this was resolved as I have been putting off updating my site :(

[2020-04-28 11:38] orinokai commented on #196
The layout component gets passed the same props as the page it wraps (see the example [here](https://www.gatsbyjs.org/docs/ssr-apis/#wrapPageElement)), including location, data, etc. As a workaround it might be useful to conditionally render different items depending on the page.

[2020-04-28 15:23] hellofantastic commented on #196
Okay so perhaps I could try on a slide transition callback send a prop up to the page and check for it I'm the  layout pass a prop into nav to adjust its colors. Or introduce a global state context/redux and set it and connect nav to that

[2020-04-29 15:49] alejuu opened #206 "Create only exit animation"
Hi @TylerBarnes, first of all, thank you for creating this plugin! This is not an issue is a question.
I'm using React spring to create transition animations; there's a component that lives only on the index page; when I navigate from another page to the index I can see the animation, but when I leave the index, I can't see anything. I think this happens because this component doesn't exist in the

[2020-04-30 07:09] lborg019 commented on #29
My `<div class="tl-edges">` was giving me issues too. I needed its width to be wider in order for inherited divs to behave nicely.

I do have a global.scss file in my project (using gatsby-plugin-sass), so I decided to create a
`div.tl-edges { width: 100% }` class in order to override my customization it and it worked! I am not sure how this would impact on performance for more complex changes but

[2020-04-30 16:04] MiqueiasGFernandes opened #207 "Issue in AniLink with react-bootstrap NavLink"
Hi, my website use React-Boostrap with gatsby-plugin-transition-link, but the build generate a incorrect class between navlink and anilink. Code and view by dev tools:

View:
![Captura de tela de 2020-04-30 13-00-04](https://user-images.githubusercontent.com/17056367/80732634-fcfe7d00-8ae2-11ea-8c7e-068a1548fdfc.png)
Code:
![Captura de tela de 2020-04-30 13-04-02](https://user-images.githubusercon

[2020-05-01 22:35] TylerBarnes commented on #206
Hi @alejuu , any chance you could create a reproduction repo I can check out? That would help me understand what's going on :)

[2020-05-02 15:17] naomigrace commented on #174
Hi! I'm getting the same issue where using the cover does not work, but using anything else (like swipe does):

not working:

[code]

working:

[code]

The EventStick is called in a function Row

[code]

which is within an Autosizer (`react-virtualized-auto-sizer`) component
[code]

Let me know if more context is needed!

[2020-05-06 21:11] alejuu commented on #206
Hi @TylerBarnes,
Of course, this is the repo https://github.com/alejuu/alejuu-Portfolio, and these are the transition components that are included (https://github.com/alejuu/alejuu-Portfolio/blob/master/src/components/Animations/Springs.js) in the index page (https://github.com/alejuu/alejuu-Portfolio/blob/master/src/pages/index.js) and work page (https://github.com/alejuu/alejuu-Portfolio/blob/ma

[2020-05-08 16:13] caelinsutch commented on #114
How do you change pages programatically with the new hook that was merged? Is there any documentation on it?

[2020-05-09 10:53] mjsarfatti commented on #114
I don't think it's in the docs yet, but you can see a demo here:
https://gatsby-plugin-transition-link.netlify.app/programmatic/b
and a sample code here: https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/master/example/src/pages/programmatic/b.js

[2020-05-10 18:20] caelinsutch commented on #114
Is there a way to do this with the AniLink default transitions? I'm trying to use the swipein transition.

[2020-05-12 09:05] mjsarfatti commented on #114
I think if you use the programmatic approach you'll have to build the transition yourself...